[2016-01-25 23:37] #138 closed, assigned to isolver

[2016-01-26 00:25] isolver commented on #139
I have implemented these changes. Same logic is used for all import file types:
- Series are parsed using sample status field state FIRST_ENTER for all file types
- Runs are parsed using sample status field state FIRST_PRESS for all file types. If a Series contains no FIRST_PRESS status samples, the pressure value of samples in the Series is used to try and detect Runs (i.e. Run detection for the

[2016-01-26 00:29] #132 closed, assigned to isolver

[2016-01-26 00:33] isolver commented on #134
Reopenning, getting following error when I run Run_BatchReport.bat

[code]

[2016-01-26 11:19] Mark-Torrance commented on #134
Sorry, should have done this before. I get the same when running from the bat file.

[code]

[2016-01-26 13:15] isolver commented on #134
Fixed the errors we both reported yesterday, so running Run_BatchReport.bat now works.

I also updated the example script so that it generates a report for all supported files in the test_data folder. I have 2 markwrite project files saved in this folder on my PC, and the batch reporting code creates reports for the saved project files correctly as well.

@Mark-Torrance : When you get the latest c

[2016-01-26 13:21] isolver commented on #139
@Mark-Torrance : Am I actually correct about the TODO stated in the above comment? i.e. should pen series / run/ or stroke parsing be affected if l1 segments are created for trial periods?

I'm now thinking that it should not so I should not actually do the above todo. In other words, it is fine if a series / run/ or stroke starts in 1 trial and ends in the next. That would just be representing th

[2016-01-26 14:45] Mark-Torrance commented on #139
Good point. Thinking about it I think you're absolutely right. The same applies to runs. If we want participants to start the trial with the pen out of range, or not pressed, then we need to build that into the design. The experiment should tell us how things actually are.

What we don't want is a situation where the selection can be expanded beyond the current trial (even if the trial start is mi

[2016-01-26 16:03] isolver commented on #139
On Tue, Jan 26, 2016 at 9:45 AM, Mark Torrance notifications@github.com
wrote:

Agreed.

[2016-01-26 16:10] isolver commented on #139
So closing this, as it is fully implemented.

[2016-01-26 16:10] #139 closed, assigned to isolver

[2016-01-26 16:14] isolver commented on #133
implementation note: fixing this should be done in a way that effectively fixes issue #100 as well. i.e. the two issues should be solved using the same backend data construct.

[2016-01-26 16:19] Mark-Torrance commented on #139
This is just a point of information, but good to document here:

When GetWrite adds status to the hdf5 what ISI criterion is used to identify series onsets (FIRST_ENTER)? Could you point to the place in the code that does this so that it can be adjusted if needed?

[2016-01-26 16:43] isolver commented on #139
Markwrite makes no changes to hdf5 file pen sample status/state values;
they are populated at runtime and saved to the hdf5 file.

FIRST_ENTER sample status state is set by iohub based on receiving a
wintab WT_PROXIMITY msg. WT_PROXIMITY msg's occur when the pen first enters
the detectable surface / area and when the first pen leaves the detectable
surface / area. However WT_PROXIMITY events conta

[2016-01-26 16:46] Mark-Torrance commented on #139
Excellent. Thanks Sol. Moving that to the wiki.

[2016-01-27 00:14] isolver commented on #133
fixed.

[2016-01-27 00:14] #133 closed, assigned to isolver

[2016-01-27 00:15] isolver commented on #100
fixed. properties table for selected segment or selection region now has a "Current Trial" field, giving the name of the current trial the time period is within.

[2016-01-27 00:15] #100 closed, assigned to isolver

[2016-01-27 16:04] isolver commented on #125
Implemented. The condition variable columns that should be treated as holding experiment times, and therefore should have their values normalized, are specified using the app setting "Experiment Time Condition Variables Filter". This setting can contain a string that is used to select cond. var. column names, logic used is same as "Start Time Options Filter" and "End Time Options Filter" app setti

[2016-01-27 16:04] #125 closed, assigned to nobody

[2016-01-27 18:37] isolver commented on #125
Note: Updated app setting label to: "Exp. Time Condition Variables"

[2016-01-27 20:57] Mark-Torrance opened #140 "move to next unit end actions not working"
- [x] None of the "move selection to end of next ??" actions are working, either from keyboard or clicking action icons. All other actions seem to be working perfectly. This is specific to hdf5 files. txyp seems fine (except move selection to next stroke sometimes doesn't work, when it should. Though the strokes aren't detected well in those files anyway for crazy ISI reasons).

[2016-01-27 21:18] isolver commented on #140
I do see that "Move Selection End to Next Stroke End" sometimes stops working, but the 'Pressed Run' and 'Series' compliments seem to always work for me, assuming there is a next unit end to move to of course.

What input file are you testing with? I have tried both hdf5 and the 90.txyp.

Thanks!

[2016-01-27 21:28] Mark-Torrance commented on #140
I was testing with this exp_template_data.hdf5. Checked again and still there. This isn't just "sometimes doesn't work". No action at all, in situations where it would definitely be a legal move.

The other problem was is with 90.txyp and 1.tab.txyp - do you see that one?

[2016-01-27 21:44] Mark-Torrance commented on #140
See edited first check-item above.

[2016-01-27 21:49] isolver commented on #140
Fixed the move to next to end issue. Will email you update.

[2016-01-27 21:50] isolver commented on #140
Re second issue, see what you mean, will need to look at that tomorrow am. Will create separate bug for it since it is a separate issue.

[2016-01-27 21:51] #140 closed, assigned to nobody

[2016-01-27 21:53] isolver opened #141 "txyp files not plotting correctly in spatial view"
~~Note from Sol, this maybe an issue with plotting pen stroke boundary points in all views, need to check....~~

From @Mark-Torrance :

txyp files not plotting correctly in spatial view. Initially I thought this might just be messy data but (a) these are files I've looked at before and they didn't appear this way, and (b) timeline and spatial view seem to give different locations. See second image

[2016-01-27 21:56] Mark-Torrance commented on #140
Update working fine for me. Good.

[2016-01-27 22:52] isolver commented on #141
This seems to be resulting from a negative side effect on data filtering caused by changing the txyp and xml files to not find sample Series based on ISI. Now these files just have one Series that spans the whole data file.

This is important because MarkWrite filters data at a Series by Series level. i.e. each sample Series is filtered independently. Series level filtering is needed so that the f

[2016-01-27 23:10] isolver commented on #141
I have added a "Filter Imported Pen Data" app setting to MarkWrite so you can see the effect I am referring to. Default is True, so to see unfiltered data, change it to false and reload the data file.

You can downloaded the latest markwrite source directory directly from github if you want to try it out:
1. [Download a zip of the OpenHandWrite project source](https://github.com/isolver/OpenHandWr

[2016-01-28 09:55] Mark-Torrance commented on #141
Ah, now you see I should have been paying attention in all of the discussion about filtering. I don't actually know what "filtering" means here.

But.. If the issue is just that filtering needs to make use of local averages (or minima and maxima), then why not do this on the basis of run rather than series? This is now independent of both report output and segment selection actions, because these

[2016-01-28 13:13] Mark-Torrance opened #142 "Timeline: selection end not visible when Trial level segment selected"
i.e. when you open a file or select a trial-level segment, and so the selection fills the whole timeline, the right hand yellow line doesn't appear. Can be brought back into range with arrow keys, but not ideal.

[2016-01-28 13:34] Mark-Torrance opened #143 "Change Report toolbar button functionality"
Bumping up the actual issue to be addressed:

So just have one toolbar button for "export Report" and then a popup with a single select list of the items in the File->Export menu?

---

Below is not relevant for updated issue title.

~~Currently we have PenSample and SegmentLevel reports defined, and as I understood it, I can add more of these report classes. If I want to create these reports from

[2016-01-28 13:42] Mark-Torrance opened #144 "Double clicking on segment label in segment tree shouldn't collapse segment"
When you double click on a segment in the segment tree, to zoom in on that segment, it also collapses that branch. This is a minor annoyance. We talked about it before, I think, and it's a pyqt default? If there is any way of switching this behaviour off, that would be good.

[2016-01-28 13:44] isolver commented on #142
On Thu, Jan 28, 2016 at 8:13 AM, Mark Torrance notifications@github.com
wrote:

Agreed it is not ideal. The issue is with the pyqtgraph library, without a
lot of digging I do not think I can fix this without also reintroducing the
bug where both edges of the selection region were not within the timeline
view and could therefore not be moved. Note that although the right edge is
not visible, you ca

[2016-01-28 13:45] Mark-Torrance commented on #130
Still present on my computer. Note that this is loading a saved project, not a raw data file. I get a lag (quite a long one for big projects) and then the progress box (I'm guessing) appears for no time, then the project immediately opens.

[2016-01-28 13:49] Mark-Torrance commented on #142
If trial selection give (a) zoom timeline to range of that trial (current behaviour) and (b) first run is selected that would not only solve the problem but be better.

The "remember where you were thing" would be cool, but not a priority now. We should start a Phase 3 wishlist.

[2016-01-28 13:49] isolver commented on #141
Filtering on a per run basis when Series are not present is an option, but
I am not sure if it is a good idea. ;)

The number of points in a Run in the xml and txyp files is often small
relative to the filter window size. Markwrite uses a window size of 13.
There is often little benefit in filtering arrays with a length that is
less than 2 - 3 times the window size used by the filter: I assume thi

[2016-01-28 13:59] isolver commented on #143
Agree. High priority?

Yes it is possible.
To create a new ReportExporter and have it available in the GUI (via File->Export->....) you need to add the ReportExporter subclass you are defining to the markwrite/customreports.py file. When markwrite starts up, it creates a menu item for each custom report defined in that file. This is where the Raw Sample Report in the Export menu is coming from.

T

[2016-01-28 14:02] isolver commented on #144
I agree it would be better if it did not collapse the segments subtree.

[2016-01-28 14:05] isolver commented on #142
Will look into this

Agreed. I'll create a phase 3 milestone and issues that want to be binned for phase 3 can use that.

I never created a phase 2 milestone now that I think of it. I'll do that as well for completeness sake.

[2016-01-28 14:10] isolver commented on #130
On Thu, Jan 28, 2016 at 8:45 AM, Mark Torrance notifications@github.com
wrote:

OK, if this is for saved projects only, not for creating a new project by
loading source data file file, then I need to look at different code. Sorry
about that.

[2016-01-28 14:21] Mark-Torrance commented on #143
Yes, I think so. Unless its time consuming to do. Little things like this make a difference, I think.

Sorry, I remember this now. And you've got a way of automatically extracting menu item label from the customreport name. Good. I'll move this to the (draft) wiki.

Ah, sorry. For some reason I that the sample button has been reused for projects, but checked and no.

The best functionality would b

[2016-01-28 14:28] Mark-Torrance opened #145 "A place for wiki images"
This is just a place to put (and possibly admire) images for the wiki. This uploads the image and creates an URL that can be used in the wiki (you can't just copy image files into wiki pages).

![mw_screencap_velocity acc](https://cloud.githubusercontent.com/assets/3226576/12646474/443f3a18-c5c8-11e5-9299-e7b424a3afa9.png)

[2016-01-28 14:32] Mark-Torrance opened #146 "Changing the point size on the velocity graph is buggy"
Make a change in settings to the point size (possibly also colour), but this change does not appear in the display straight away. It does after several tries (not sure what I changed between tries). Accelaration, x, y, and all other setting are fine.

[2016-01-28 14:33] isolver commented on #143
So just have one toolbar button for "export Report" and then a popup with a single select list of the items in the File->Export menu? This is a good idea and would take 15 minutes to do. Should I?

[2016-01-28 14:34] Mark-Torrance opened #147 "Save display arrangements (zooms, window sizes) with project"

[2016-01-28 14:35] Mark-Torrance commented on #143
Yes, I think so? If it's quick, then it would be worth it.

[2016-01-28 14:45] isolver commented on #146
Humm, I can not reproduce this one. I have tried several different files. The point size in the velocity trace always seems to change after I press the OK button in the settings dialog.

Could it be that you were pressing the top right 'x' to close the settings window and not the 'OK' button?

[2016-01-28 14:59] Mark-Torrance commented on #141
Thanks for reminder about filtering. I remember now (and chatted with Guido about it before we started this project).

Two overlapping responses. In summary "we don't need them" and "we can't get them". But I really might be missing something, so do tell me if I'm wrong.
1. Filtering provides better estimates of sample x,y, right? If so, I think the answer to this is simply that for people who hav

[2016-01-28 15:02] Mark-Torrance commented on #146
I wouldn't put it past me, but no, pretty sure not. As I say, I can change other settings fine, and I've found this more than once, with different OHW projects.

Leave it, though. It's really not important.

[2016-01-28 15:13] isolver commented on #142
Added phase 2 milestone. Good idea to just use the Future functionality milestone for anything phase 3 or whatever.

Closing this issue and creating one specific for change requested.

[2016-01-28 15:13] #142 closed, assigned to isolver

[2016-01-28 15:18] isolver opened #148 "Change timeline view selected region placement behaviour"
When Trial Segment node is selected in the Segment tree:
- [x] limit timeline to trial time period (current behaviour)
- [x] zoom view out to full trial time range (current behaviour)
- [x] Set timeline selectionregion to be equal to first sample Run of trial. (NEW behaviour)

[2016-01-28 15:36] isolver commented on #141
I'll leave the debate where it stands now and go with your judgement call on this. It is usually better than mine anyhow. ;)

So the question is: given we know what is causing the issue, but can not fix the root issue, what should we do?
1. Make Filter Data setting False by default. If a user sets it to true and loads xml or txyp file, suffer the consequences.
2. Change app settings: have 3 settin

[2016-01-28 16:05] Mark-Torrance commented on #141
Ah, I'm torn between 1 and 3. I'm a bit concerned about using file type as the critical criterion. You could have hdf5 files that don't have good status data (in principle).

So, it's an informed user decision. So 1 is the right way to go.

[2016-01-28 16:27] isolver opened #149 "default folder for report saving"
Default directory for saving reports should be the same folder as the input data? This is where projects are currently saved, but not reports.

[2016-01-28 16:27] isolver commented on #149
fixed

[2016-01-28 16:27] #149 closed, assigned to isolver

[2016-01-28 16:27] isolver commented on #143
fixed.

[2016-01-28 16:27] #143 closed, assigned to nobody

[2016-01-28 16:30] #112 closed, assigned to Mark-Torrance

[2016-01-28 16:32] isolver commented on #141
Fixed. Only thing that has changed in mw app is that the Filter Imported Pen Data setting now defaults to False

[2016-01-28 16:32] #141 closed, assigned to isolver

[2016-01-28 19:45] Mark-Torrance commented on #134
Runs fine from bat file. I get the following running in Spyder.

Tutorial question: It's right, there isn't a module called MarkWrite (unless there's one buried somewhere in the dirs that are added to the path when the .bat runs, but aren't in the path for spyder. I've put the Spyder path below.

[code]

[code]

[2016-01-28 20:10] isolver opened #150 "create a setup.py file for the markwrite package"
so it can be installed into the users python env. using pip or easy-install.

[2016-01-28 20:14] isolver opened #151 "create standalone exe for MarkWrite GUI app"
As was done for the phase 1 version of the app. This will require updating the OpenHandWrite\markwrite\freezeApp.py file and spend X amount of time fixing stupid issues related to cx_Freeze that are guarenteed to come up when first trying to create the exe.

[2016-01-28 20:26] isolver commented on #144
Took 10 minutes to research and implement. So fixed.

[2016-01-28 20:26] #144 closed, assigned to nobody

[2016-01-28 20:26] Mark-Torrance commented on #144
Excellent.

[2016-01-28 20:34] Mark-Torrance commented on #151
Thanks Sol. I was worrying a bit about this.

Is there anything we can do to strip out the bits of Winpython that are not MarkWrite or GetWrite dependencies now, without it taking ages? I've been having a quick look at this, for example, http://furius.ca/snakefood/

I can imagine people being a bit wary of 1.8GB, particularly if they are just using MarkWrite, and will not be doing any developing.

[2016-01-28 21:01] isolver commented on #148
implemented. if selected trial segment has a run in it, that is what is selected, otherwise the full trial will be selected (i.e. if the trial only has hover data in it)

[2016-01-28 21:01] #148 closed, assigned to isolver

[2016-01-29 16:57] isolver commented on #151
I thought I had replied to this last night, but I guess I did not hit submit.

Anyhow, spent 1.5 hours hacking on getting a MarkWrite exe this am. I have something that I think works (runs on my PC at least). It is a 32 bit app BTW.
1. I will send a link to a MarkWrite 0.2.2.1.7z file.
2. Once extracted, you will have a MarkWrite folder.
3. Run MarkWrite/MarkWrite.exe app.

Please let me know if t

[2016-01-30 11:35] Mark-Torrance commented on #134
~~Tutorial question: It's right, there isn't a module called MarkWrite (unless there's one buried somewhere in the dirs that are added to the path when the .bat runs, but aren't in the path for spyder.~~ Sorry, I've answered my own question, I think. Still don't understand why I get that error, though.

[2016-01-30 20:18] isolver commented on #134
Sorry Mark, I am sure I answered this one as well. Either I am loosing it or a couple of my replies did not get processed by github that evening. Anyhow, sorry again.

The folder OpenHandWrite/markwrite/markwrite is a python package, but it is not 'installed', so it is not in the a folder in the default python path. The current working dir is in the python default path, that is why markwrite is fo

[2016-01-30 20:24] isolver commented on #134
@Mark-Torrance: did you get the download link for the self contained markwrite folder with a markwrite.exe? Does that work fine on your PC?

The self contained markwrite folder is ~ 256 MB uncompressed and zips up into a 56 MB archive file. Not too bad.

[2016-01-30 23:34] Mark-Torrance commented on #134
Well, basically what you've said: it's a package not a module, so needs to be explicitly in the path.

When Python can find Markwrite (i.e. by Adding OpenHandWrite\markwrite\markwrite or OpenHandWrite\markwrite\ to the python path and or changing cwd to markwrite), it kills python:

[code]

Sorry I'm being slow here. But I am learning!

[2016-01-30 23:43] Mark-Torrance commented on #151
Tested. Sorry for the delay. Not working I'm afraid:

![capture](https://cloud.githubusercontent.com/assets/3226576/12699215/3f3e1dce-c7ab-11e5-80b4-0e65f0f9bb1f.PNG)

[2016-01-31 00:11] isolver commented on #134
This maybe some issue that is being hidden by the ipython kernel.

Can you try:

1) Open a WinPython Command Prompt. Use "OpenHandWrite/WinPython/WinPython Command Prompt.exe".
2) In the command prompt type:

[code]

3) Then in the python interpreter you started in 2):

[code]

Does this work, or give an error?

[2016-01-31 00:19] isolver commented on #134
BTW, I am rearranging the OpenHandWrite project, the important point is that markwrite package will now be installed as a python package.
1. There is now a src\markwrite folder that contains the markwrite package source, including a setup.py.
2. When the OpenHandWrite distribution get built, both psychopy and markwrite get installed into site-packages. So markwrite package is now in python path.
3

[2016-01-31 01:54] isolver commented on #150
done. now markwrite package source can be found in src/markwrite project directory. The markwrite package is now installed into the WinPython env. included in the OpenHandWrite distribution.

For other python distributions, markwrite can be installed from a cmd prompt:

[code]

The markwrite package api can be used in custom scripts for batch report generation purposes. See OpenHandWrite\examples\

[2016-01-31 01:54] #150 closed, assigned to isolver

[2016-01-31 01:56] isolver commented on #134
I have finished the rearrangement and tested things. All seems to work for me.  You should now be able to import markwrite package like you would a standard python package in your custom scripts.

I'm making a new OpenHandWrite distribution. Will send out URL for download when it is available.

[2016-01-31 01:58] isolver commented on #151
bummer. wish the error said what dll was not found. ;(

[2016-01-31 02:06] isolver commented on #151
Notes:
1. The stand alone exe approach is likely going to cause issues for someone who writes a custom report and tries to use any python module or package that was not included with the MarkWrite exe build.
2. All these issues in creating the MarkWrite.exe come from needing to import psychopy, which needs scipy etc. The only need for importing psychopy is so that psychopy.iohub.datastore module c

[2016-01-31 11:37] Mark-Torrance commented on #151
Point 2 makes sense to me. The standalone is much more important for MarkWrite than it is for GetWrite, at least initially as we try to get people to use it. I couldn't work out why this required the whole of PsychoPy and its dependencies.

[2016-01-31 13:31] Mark-Torrance commented on #134
Using the new distro (310116), and running python from the winpython command prompt (i.e. not via ipython) gives...

[code]

[2016-01-31 14:12] Mark-Torrance commented on #134
New distro, and running from bat files:
- MarkWrite runs fine
- BatchReport runs fine

[2016-01-31 14:40] isolver commented on #134
For now, that error can be fixed by setting the HDF5_DISABLE_VERSION_CHECK env. Variable in the cmd prompt before starting Python:

So at the winpython cmd prompt:

[code]

Then in the python interpreter just started:

[code]

---

Edit: Btw, I'll fix the issue that results in python exiting if hdf5 lib is used without setting HDF5_DISABLE_VERSION_CHECK=2  env. variable first. I must have updated

[2016-01-31 14:57] isolver commented on #151
Agreed. Sorry about all these setup issues Mark. They are important to
correct so end users do not have issues when first starting to try
markwrite. First impressions matter here.

[2016-01-31 15:01] Mark-Torrance commented on #134
Ah. That works (from the command prompt). I actually thought I'd already tried it, but clearly got something wrong.

[2016-01-31 15:03] Mark-Torrance commented on #134
But still issues with ipython, even after adding set HDF5_DISABLE_VERSION_CHECK=2 to the winpython env bat. Closest I've got is this:

[code]

So at least no crash now.

[2016-01-31 15:07] Mark-Torrance commented on #151
I'm not too worried about money. I need to check budget but I'm fine for 2750 GBP. So please continue to charge this. It just might eat a bit into the "future troubleshooting" budget (but even that's unlikely).

My impression is that we are very close, and I am really pleased with what we have.

[2016-01-31 15:51] Mark-Torrance commented on #151
Sorry, didn't comment on this before. I'm relaxed about this. Anyone wanting to create a custom report is going to also be happy using the full distribution. In the short to medium term I think the only person likely to be doing this is me. Certainly not casual users who are just trying it out.

[2016-01-31 16:48] isolver commented on #134
How are you running the above in ipython? Is it via the Spyder ipython prompt tab or by running ipython Qt Console, notebook, or other?

I just want to be sure I am testing the same way you are running. Thanks.

[2016-01-31 17:19] isolver commented on #134
Disregard my last post; I see it happening when I use the Spyder ipython console tab.

Not sure if it is related or not, but the following is printed to the Spyder 'Console' tab after you do the markwrite import in ipython:

[code]

So the latest ipython issue may have nothing to do with hdf5

[2016-01-31 17:39] isolver commented on #134
Other observations when testing "import markwrite" within a python file being edited and launching using the WinPython/Spyder.exe:
- **WORKS**: Run the file with the Spyder Run Settings Console Option set to  **"Execute in an external System terminal"**
- **FAILS**:Run the file with the Spyder Run Settings Console Option set to  **"Execute in current Python or IPython console"**:

[code]
-  **FAIL

[2016-01-31 17:43] isolver opened #152 "import markwrite fails when using WinPython's Spyder IDE and run via an ipython console."
See recent comment in issue #134. This issue is for what I think the current problem is related to, and should supersede issue #134 (i.e. #134 can be closed now IMO).

[2016-01-31 17:43] Mark-Torrance commented on #134
Yes to starting new issue. Sorry that this is being a pain. I think it's worth fixing, though. It's the one part of the project that is going to involve "scientist programming" - the sort of iterative try-it-and-see stuff that semi-competent python users like myself go in for - and so being able to use an IDE is important. ipython less so, I suppose.

[2016-01-31 17:47] isolver commented on #152
More details, copied from #134:

when testing "import markwrite" within a python file being edited and launching using the WinPython/Spyder.exe:
- **WORKS**: Run the file with the Spyder Run Settings Console Option set to  **"Execute in an external System terminal"**
- **FAILS**:Run the file with the Spyder Run Settings Console Option set to  **"Execute in current Python or IPython console"**:

[c

[2016-01-31 17:53] isolver commented on #134
Agreed. Having Spyder included with WinPython, which is included with the
OpenHandWrite distro, is very important for people who do want to do some
custom python development for MarkWrite or GetWrite stuff and do not want
to have to deal with setting up a Python interpreter and all the
dependencies needed by psychopy, iohub, and markwrite.

Having tools like Spyder included in the OpenHandWrite di

[2016-01-31 17:53] isolver commented on #134
Closing this issue; openned issue #152.

[2016-01-31 17:53] #134 closed, assigned to Mark-Torrance

[2016-01-31 17:55] isolver commented on #104
Some potentially useful info in this issue, so instead of closing, just changing labels and milestone instead.

[2016-01-31 17:56] Mark-Torrance commented on #134
If you ignore the HDF5 error then, yes, this is Spyder-specific. ipython console, launched directly from IPython Qt Console.exe works...
[code]

but both ipython and non-ipython consoles in Spyder don't find markwrite (or something). This is oridinary python interpreter in Spyder:

[code]

[2016-01-31 17:56] Mark-Torrance commented on #152
If you ignore the HDF5 error then, yes, this is Spyder-specific. ipython console, launched directly from IPython Qt Console.exe works...

[code]

but both ipython and non-ipython consoles in Spyder don't find markwrite (or something). This is oridinary python interpreter in Spyder:

[code]

[2016-01-31 17:56] isolver commented on #103
Some potentially useful info in this issue, so instead of closing, just changing labels and milestone instead.

[2016-01-31 17:57] isolver commented on #102
Some potentially useful info in this issue, so instead of closing, just changing labels and milestone instead.

[2016-01-31 17:57] isolver commented on #101
Some potentially useful info in this issue, so instead of closing, just changing labels and milestone instead.

[2016-01-31 18:04] isolver opened #153 "OpenHandWrite/WinPython python distro fails to run "import markwrite""
Python is terminated by hdf5 dll because dll is detecting different version of headers than where used to compile dll.

This is likely caused by me updating one of the packages in winpython that also uses hdf5, and it updating some shared hdf5 files, resulting in importing pytables causing this issue.

Short term solution is to ensure following env. variable is added before python starts:

HDF5_DI

[2016-01-31 18:07] isolver commented on #153
Implemeted the above mentioned short term fix globally for winpython env. included with OpenHandWrite distro by adding HDF5_DISABLE_VERSION_CHECK=2 to [environment] section of OpenHandWrite/WinPython/settings/winpython.ini file.

So updated WinPython/settings/winpython.ini  file looks like:

[code]

So changing to Priority2 issue from P1.

HDF5_DISABLE_VERSION_CHECK=2

[2016-01-31 20:22] isolver commented on #152
[code]

I found the same, and also noticed that the following is printed to the Spyder 'Console' tab after you do the markwrite import in ipython:

[code]

[2016-02-01 02:05] isolver commented on #152
The above issue actually seems to stem from markwrite **init**.py readPickle() call; accessing the QtCore.QtString class seems to cause issues when run in spyder+ipython, causing the "SystemError: NULL result without error in PyObject_Call" error. SO I seem to be able to get around that one by changing the code a bit. More testing needed.

However, there seem to be multiple issues going on when us

[2016-02-01 04:35] isolver commented on #152
Last update for tonight. ;)

I think I have everything working via Spyder and when using winpython cmd prompt without the need to manually update any env. variables etc. By everything, I mean I can run the following in Spyder (using ipython console or python console) as well as via .bat files:
- MarkWrite GUI app: OpenHandWrite/MarkWrite/runapp.py
- hdf5 reader example: OpenHandWrite/examples/hdf2

[2016-02-01 12:48] Mark-Torrance commented on #152
Excellent. Looking forward to testing this.

In the existing distro, I've checked that all of the imports in ExperimentTemplate/run.py will import from within Spyder, and they do.

[2016-02-01 13:56] isolver commented on #152
Great; thanks for testing that out.

[2016-02-01 14:55] Mark-Torrance opened #154 "01 Feb distro testing..."
Just producing a checklist, which i'll then...er...check:
- [x] MarkWrite GUI opens from bat and all selection and segmentation actions work
- [x] Report saving from within GUI works
- [x] Project saving and reopening from within GUI works
- [x] Batch report creation runs from bat and works
- [x] MarkWrite package imports successfully in Spyder, with iPython console
- [x] batch report runs success

[2016-02-01 15:38] Mark-Torrance commented on #130
Issue remains in 1st Feb distro.

[2016-02-01 17:30] isolver opened #155 "File->Exit action freezes app window when run in Spyder ipython"
App window would freeze when using File->Exit, if running gui in Spyder ipython console.

[2016-02-01 17:30] isolver commented on #155
fixed

[2016-02-01 17:30] #155 closed, assigned to isolver

[2016-02-01 17:54] Mark-Torrance opened #156 "Sort out Test Data examples"
Before this goes public(er) we need to remove some of the current test data, and add another hdf5 example which includes extended text.

[2016-02-01 18:06] Mark-Torrance opened #157 "Rationalise directories for batch report"
Really trivial, but keeps things simple for first-time users.
When #156 complete...
Create "my_data" directory or similar in Examples and put some test data in it.
Point batchreportgen.py at this.

[2016-02-01 18:20] Mark-Torrance opened #158 "Don't move mouse pointer to "cancel" button in file processing dialogues"
Feel free to move this to the next milestone if it's not a quick fix but....

When batch processing files a progress dialogue with a cancel button appears. That's good. The cursor moves to the cancel. That's bad because it effectively stops you don't anything else until that batch processing has finished.

[2016-02-01 19:04] isolver commented on #151
@Mark-Torrance : I removed some comments from above realizing they were better not on a public site. In reply to them though, thanks very much for your understanding and support.

I have made another stab at the stand alone MarkWrite exe stuff. I will send you a link shortly. I have hopes this one will work for you, as I copied it to Amy's PC and tested it there and it seems to work fine.

Plus's:

[2016-02-02 21:09] isolver opened #159 "Builder example experiment is saving incorrect trial times"
The builder example experiment using PsychoPy Builder sets two iohub condition variables that are used to indicate when each trial started and ended during the experiment.

However, the global psychopy core.getTime()  clock is not being used to set the trial start / end times, instead a local core.Clock() created by the experiment. This means the trial times saved to the hdf5 file are offset relat

[2016-02-02 21:29] #152 closed, assigned to isolver

[2016-02-02 21:30] isolver commented on #153
Current fix works fine, so moving long term fix to future functionality.

[2016-02-02 21:45] isolver opened #160 "recent psychopy source breaks iohub.wintab device"
Psychopy source from github.com/psychopy/psychopy sometime after December 21st, 2015 causes iohub.wintab device to not receive any pen events.

By using psychopy source from ~ December 20th, and updating only psychopy.iohub source with latest from github.com/isolver/psychopy/iohub, the iohub.wintab device receives events fine. wintabtest.py, python experiment template, and Builder experiment examp

[2016-02-02 21:46] isolver commented on #160
To be clear, there is a work around for this issue in place. Issue is being kept open as a reminder that a proper root cause fix needs to be implemented at some point (sooner than later hopefully).

[2016-02-02 23:34] isolver commented on #159
fixed.

[2016-02-02 23:34] #159 closed, assigned to isolver

[2016-02-03 00:14] isolver commented on #158
This is only an issue when doing batch file processing I believe.

So I have removed the progress dialog from appearing at all when a report is being generated using a custom script,  it only appears when using MarkWrite GUI.

Progress for batch report generation is now given by printing to the console.

[2016-02-03 00:14] #158 closed, assigned to nobody

[2016-02-03 18:25] isolver commented on #130
OK, made another attempt. Will be in build 0.2.2.6

The progress dialog may not move for a period of time when opening a saved MW project, but it should appear right after you select the file and hit the Open button.

Please let me know if it works on your PC.

[2016-02-03 18:54] isolver commented on #151
Updated the numexpr package winpython is using, as someone else reported getting the same error as you last reported when trying to run a cx_freeze app with the older version.

@Mark-Torrance Can you please get the MarkWrite_v0.2.2.6.exe archive from the SHARE folder, extract it, and try running this one? If you still have issues, please try putting the MarkWrite_v0.2.2.6 folder in a **path that d

[2016-02-04 10:22] Mark-Torrance opened #161 "Add series detection for "generic" txyp files with hover (pen up) data"
Provisionally this is future functionality, but I'm anticipating @g-no saying we need it now (very reasonably because he has data of this sort!).

Current MarkWrite: Files with name "txyp" are assumed to have a special (Eye and Pen) format such that runs (press sequences) end with a single zero pressure event. This information is used to set status to, with status just taking PRESS and FIRST_PRESS

[2016-02-04 12:06] isolver commented on #161
@g-no We will get this added back, no issue. Give me until Monday please. I am sure I have some, but could you send a couple good examples of your txyp files for testing?

@Mark-Torrance :  as well.
1. So all the existing txyp examples should be renamed to .eptxyp and put in a EPTXYP test_data folder.
2. We need to add test data for Guido's txyp file format.
3. Txyp files we go back to being proce

[2016-02-04 15:13] Mark-Torrance commented on #161
Yes

Yes

The series-boundary information used for filtering comes from somewhere other than "status" at the moment, doesn't it? You use ISI criteria for series boundaries in hdf5 files as well?

My feeling is that the cleanest way forward would be for all present and future file types to have their own logic for creating the status variable, and then this variable is used to define series boundar

[2016-02-04 16:12] isolver commented on #161
As discussed, this means only hdf5 files currently have any series
information, xml and txyp files only have run and stroke boundaries and
have no series data since none is provided by the file.

Therefore, if filtering is enabled (default is now that it is off) it
causes artifacts in files other than hdf5 at what would have been ISI based
series boundaries.

So are we going back to the idea that

[2016-02-04 16:24] Mark-Torrance commented on #161
So we are agreed that we do ISI-threshold -> status (-> filtering etc etc) for generic txyp (Guido's data)

For eptxyp and for xml (handspy) we simply do not have series information. It just isn't available in the data. As soon as the pen is lifted, whether hover or out of range, sampling stops. So status can only take PRESS or FIRST_PRESS,PRESS values. We just don't know anything else. So I think

[2016-02-04 16:31] Mark-Torrance commented on #161
So the general strategy as I see it is

If input file contains status data: pass

Else if generic txyp, with hover (zero-pressure sampling): use pressure data to identify run boundaries and ISI thresholding to identify series boundaries and record in Status

Else: use ad hoc rules based on whatever information is available in the data to create an as-sensible-as-possible Status variable

[2016-02-04 16:58] isolver commented on #161
On Thu, Feb 4, 2016 at 11:31 AM, Mark Torrance notifications@github.com
wrote:

However ISI based Series inference can not be one of those ad hoc rules? So
these files will have no series level parsing (no FIRST ENTER sample
status) and will have artifacts in the data if filtering is used.

OK. ;(

[2016-02-04 17:08] Mark-Torrance commented on #161
Yes, it definitely could be, but not for the particular data that we have (eptxyp and xml). Unless I'm missing something you can't squeeze series information out of these files. It's just not there.

We could use some other way of quantizing to allow filtering. This is something that could be added as an option (e.g., filter by run). But I'm pretty sure no one who currently has unanalysed E&P or h

[2016-02-04 17:19] isolver commented on #161
Can we change the current .txyp files to use an extension something like
.epd, (eye pen data) or .epdf (eye pen data format) instead of .eptxyp?

I'm worried using .eptxyp looks odd and is a longer file extension than the
standard 3 - 4 characters.

On Thu, Feb 4, 2016 at 12:08 PM, Mark Torrance notifications@github.com
wrote:

[2016-02-04 17:40] Mark-Torrance commented on #161
Odd can be good. And longer extension aren't that uncommon (Spyder calls its projects .spyderproject or something). eptxyp has the advantage of saying exactly what we want it to say.

My concern with creating a shorter name is that it will get confused with another file type. I also don't want to sort of invent a new E&P file. What eptxyp says is "this is a txyp file with the special characteristi

[2016-02-04 17:45] isolver commented on #161
OK

[2016-02-05 05:12] isolver commented on #161
done.

[2016-02-05 05:12] #161 closed, assigned to isolver

[2016-02-05 18:27] isolver opened #162 "Can not use next/prev series to goto 1 sample series"
If a datafile has a one sample long series, the next / prev series action will not move to it, so it halts selection movement in the associated direction.

[2016-02-05 20:11] isolver commented on #162
fixed

[2016-02-05 20:11] #162 closed, assigned to isolver

[2016-02-05 20:18] isolver opened #163 "Create new example hdf5 files"
Since issues have been fixed regarding iohub hdf5 sample state values, some new HDF5 example data files should be created to replace the three existing files in the test_data folder.

[2016-02-06 10:30] Mark-Torrance opened #164 "Permit changing segment label"
Allow changing of the segment label (e.g., by right click in segment tree), obviously without affecting children.

[2016-02-06 10:39] Mark-Torrance opened #165 "Enable selection of sample range by clicking in spatial view"
No idea how easy this would be, given current code, but it would be good to be able to
- (minimally) zoom to a (period around a) sample in the timeline based on a single click on a sample in the spatial view or
- (maximally) select a time range by click and drag in the spatial view.

[2016-02-07 22:37] isolver commented on #164
If you right click a user created segment node in the tree a dialog should appear allowing you to edit the segment label.

The exception to this are the auto generated L1 Trial Segments. They are considered 'locked', so they can not be deleted and their label can not be changed.

Let me know if this should change, or if it is not working as expected for you.

Thanks.

[2016-02-07 22:52] isolver commented on #165
The general idea is possible. I would suggest using a double click though
instead of a single mouse click.
For this action,

1) Should the spatial view pan  or zoom update at all?
2) What should the duration of the the period around the double clicked
sample be?
3) Should this change the timeline's selectionregion start/end time as
well, or only change the pan / zoom of the timeline view plot?

Th

[2016-02-08 11:58] Mark-Torrance commented on #165
I don't think there's any way round this. But what I was imagining was simply...
1. identify times of samples closest to the end of the dragged-over area in the spatial view. (t1,t2)
2. display period in time line from min(t1,t2) to max(t1,t2).
In most cases the intervening samples in the spatial view will map directly onto the intervening samples in the timeline. However, if they don't then this

[2016-02-08 12:22] Mark-Torrance opened #166 "Show "pauses" (thresholded hover / out-of-range periods) in spatial view"
This is provided (I think) by both Eye and Pen and HandSpy analysis programs. I guess for bottom-up research where you are generating initial hypotheses about where (and therefore why) writers pause, it's useful.

So you would get a mark in the spatial view (or selected view - but not both) indicating periods of hover and/or out-of-range over a user-specified duration. The mark in located at the s

[2016-02-08 12:31] Mark-Torrance commented on #165
Sorry, should have made clear that this was just for the future. Changed now.

[2016-02-08 14:05] isolver commented on #166
Duration criteria is clear. When determining that a 'hover' occurred within the specified duration, would it be defined by a user provided max position 'distance' threshold. What measure / stat from the sample positions would be best to use for 'distance' threshold comparison? i.e. std, max distance from mean or median position,  other, ....?

Would be nice if the distance threshold measure used w

[2016-02-08 14:11] isolver commented on #151
closing, as I understand that it now works fine for Mark.
@g-no, have you had a chance to try using the MarkWrite_v0.2.2.x.exe standalone MarkWrite app to see that it runs on your PC(s) as well?

[2016-02-08 14:11] #151 closed, assigned to isolver

[2016-02-08 14:13] isolver commented on #130
@Mark-Torrance : does this at least show up for your now when openning a saved markwrite project file? OK to close this issue?

[2016-02-08 14:23] Mark-Torrance commented on #166
It's simpler than that. We just find all periods of time ("pauses") ending with FIRST_PRESSED and starting with the last PRESSED prior to the FIRST_PRESSED, and xy for the PRESSED sample. Then identify just those pauses that are over a user-specified duration (or within a user-specified range) and then in the spatial view plot a circle at xy for each of these pauses, optionally with a radius propo

[2016-02-08 14:26] Mark-Torrance commented on #130
Sorry, meant to say: I checked (and  I’ve checked again with 2.2.8) and this works fine now.

From: Sol Simpson [mailto:notifications@github.com]
Sent: 08 February 2016 14:13
To: isolver/OpenHandWrite OpenHandWrite@noreply.github.com
Cc: Torrance, Mark mark.torrance@ntu.ac.uk
Subject: Re: [OpenHandWrite] project loading progress bar (#130)

@Mark-Torrancehttps://github.com/Mark-Torrance : does thi

[2016-02-08 14:44] isolver commented on #166
OK, so it is not reporting periods of 'stable' hovering, just any periods
of hovering / out of bounds data that have some minimum combined duration.
Do I get it now? ;)

[2016-02-08 14:45] isolver commented on #130
Great. Closing.

[2016-02-08 14:45] #130 closed, assigned to isolver

[2016-02-08 15:25] Mark-Torrance commented on #166
Yes, exactly.

The deluxe version would add in stable pen-press periods. So periods where pressure > 0 but x,y do not change by more than a threshold over N samples / milliseconds. However, we would need to explore whether this is actually useful (in fact, whether this actually happens), and avoid confounds with stroke boundaries. It's complicated. I think. We would not want to take 10 near-static

[2016-02-08 15:40] isolver opened #167 "Save Plot as Image support"
Add support for saving any of the three plots (spatial, timeline, selecteddata) as a PNG image.

[2016-02-08 15:41] isolver commented on #167
Added via a plot context sensitive popup menu with an "Export" menu item.

[2016-02-08 15:54] g-no commented on #154
0.2.2.8
- [x] MarkWrite GUI opens from bat and all selection and segmentation actions work
- [x] opens from bat and all selection and segmentation actions work (in OHW: MW and GW [ExpTempl])
- [x] Report saving from within GUI works
- [x] Project saving and reopening from within GUI works
- [ ] [not tested] Batch report creation runs from bat and works
- [ ] [not tested] MarkWrite package imports

[2016-02-08 20:57] isolver opened #168 "last pressed run can't be selected initially"
From @g-no:

[2016-02-08 20:59] isolver opened #169 "Add stroke points to velocity & accelleration plots"
Suggested by @g-no:

[2016-02-08 21:03] isolver opened #170 "Spatialview viewport bounds too small."
Reported by @g-no:

[2016-02-08 23:00] isolver opened #171 "Source file names with non ascii characters fail to load"
Progress dialog is trying to cast unicode characters to a standard str object, causing an encoder error:

![bug_01_19_das_eichhornchen_knackt_nusse](https://cloud.githubusercontent.com/assets/1795082/12902216/d6f4f172-ce8d-11e5-927c-c2f233b8dfbd.png)

[2016-02-08 23:16] isolver commented on #171
fixed. Will be in 0.2.2.9 release.

ALso tested that markwrite handled:
- saving this file name as a project file
- reopening project file
- creating reports for project data.

All seem OK.

[2016-02-08 23:16] #171 closed, assigned to isolver

[2016-02-08 23:38] isolver opened #172 "Loading source data file fails if .mwp file with same name exists in same folder."
If both a source file, like input.txyp, and a markwrite project file, like input.mwp, are in the same folder, trying to load input.txyp fails because _detectAssociatedSegmentTagsFile() function is reading 'input.mwp' as a possible segment tags file and crashing because it is a binary file.

[2016-02-08 23:41] isolver commented on #172
Fixed. Now _detectAssociatedSegmentTagsFile() does not consider files ending with any of  project.input_file_loaders.keys() to be possible tag files.

So, as of today,  files ending with 'txyp', 'xml', hdf5', 'mwp', and 'eptxyp' are now skipped and not read by _detectAssociatedSegmentTagsFile().

[2016-02-08 23:41] #172 closed, assigned to isolver

[2016-02-08 23:41] isolver commented on #172
This may have been another reason for some files not loading, like #171.

[2016-02-09 00:13] Mark-Torrance commented on #167
This is working fine for me, and a nice feature. Could we have it on shift+right-click or double right-click or something, though. right click and drag zooms, and now each time I end a zoom action I get the export popup.

[2016-02-09 12:38] Mark-Torrance commented on #36
Achieved by various changes in Phase 2.

[2016-02-09 12:38] #36 closed, assigned to isolver

[2016-02-09 12:43] Mark-Torrance commented on #164
Ah, sorry, yes: It's already there and working fine.

[2016-02-09 12:43] #164 closed, assigned to nobody

[2016-02-09 12:50] Mark-Torrance opened #173 "Explore adding ioHubWinTab device to OpenSesame"
[OpenSesame](http://osdoc.cogsci.nl/) provides (arguably) a nicer GUI than PsychoPy's Builder, and can use PsychoPy as a back end. It might be possible to add the WinTab device as an object in the interface or, failing that, add inline code in a more straightforward way than is currently provided by Builder.

This issue is just to explore possibilities (hence Priority 1). We can then make a decisi

[2016-02-09 14:14] isolver commented on #167
Good point, will look at fixing this.

[2016-02-09 16:03] isolver commented on #167
Fixed. Still use right mouse click to display popup, but will not trigger if click occurs at the end of a mouse drag event.

I also changed the popup menu action  "Export" text  to "Save as Image" since that is the only type of exporting currently supported.

Pls close after you confirm it now works to your liking.

[2016-03-07 21:53] isolver commented on #145
We could also add a folder to the github project that is used to hold wiki images. They could be linked to from there there. It looks like the github browser interface now allows collaborators to add files to a project by drag and dropping them right into the github repo folder that is currently open in the web browser being used:

![githubuploadp](https://cloud.githubusercontent.com/assets/179508

[2016-03-09 14:42] g-no commented on #145
When using Firefox I'm getting the following message: "Something went really wrong, and we can’t process that file. " Using Edge (the new MS browser) it worked. I can't create a folder though. Maybe a folder called "img" in the "docs" folder would be a good place.

Guido

[2016-03-09 16:10] Mark-Torrance commented on #145
Just adding them to this issue works pretty well I think (though I agree it’s a bit odd) It also means you can annotate them.

Mark

From: g-no [mailto:notifications@github.com]
Sent: 09 March 2016 14:42
To: isolver/OpenHandWrite OpenHandWrite@noreply.github.com
Cc: Torrance, Mark mark.torrance@ntu.ac.uk
Subject: Re: [OpenHandWrite] A place for wiki images (#145)

When using Firefox I'm getting th

[2016-03-14 13:54] isolver commented on #145
On Wed, Mar 9, 2016 at 9:42 AM, g-no notifications@github.com wrote:

Added suggested folder to github project.

[2016-04-04 20:00] Mark-Torrance opened #174 "prev_ next_penpress_time in segment report"
These currently give wrong values. The following repair works (line 97 onwards in segment report). searchsorted returns the index of the nonzero_pressure_ixs not that actual nonzero_pressure_ix

[code]

[2016-04-05 13:01] isolver commented on #174
Hi Mark,

Sorry, Not clear on what you want me to do here if you already found a fix?

Thanks!

[2016-04-05 13:15] Mark-Torrance commented on #174
Sorry, just implement the fix in the code in the repository. I don't know how to do this (and also would be scared of messing something up). I should have one or two more custom reports to add in the next couple of days, so maybe just wait till them.

[2016-04-05 13:43] isolver commented on #174
OK.

Note I will be away from April 11th - 18th, so adding the reports to github
will likely have to be added after that if that is OK.

[2016-04-05 13:48] Mark-Torrance commented on #174
Fine. Thanks.

[2016-04-05 13:48] isolver commented on #174
I quickly changed the [segment report code](https://github.com/isolver/OpenHandWrite/blob/master/src/markwrite/markwrite/reports/segment.py) online on github. Can you get the updated file and replace your local copy with it to check that it works OK for you?

[2016-04-08 12:48] #174 closed, assigned to isolver

[2016-04-08 12:50] isolver opened #175 "custom reports menu run wrong custom report"
From @Mark-Torrance :

[2016-04-11 18:14] Mark-Torrance commented on #175
I've tested this again, and it remains an issue in most recent distro (0.2.2.11). This is the custom reports script that I tested with.

[customreports.zip](https://github.com/isolver/OpenHandWrite/files/213589/customreports.zip)

[2016-04-20 11:42] Mark-Torrance opened #176 "Create spatial restructure of segment tree"
This is not something that needs to appear in the GUI.

We should explore ways in which we can add a column to the output that gives spatial nesting of segments. In a situation where a wrtier is in the middle of segment S (e.g. a sentence) but then moves up to add a word to sentence S-3 the edit will appear as nested within S. This is correct, but it also be helpful to know that spatially e word i

[2016-05-03 09:50] Mark-Torrance commented on #167
Tested. Works great. Closing.

[2016-05-03 10:03] Mark-Torrance commented on #163
@g-no I'm not sure where we are at with this, but could you create a German "short story" or similar example, just using the TestWinTab - so no need for trial information. I'll then check that we have a good set of examples.

[2016-05-03 18:05] isolver commented on #175
Fixed. Pls test and close if it works for you too.

To test you can [download the latest standalone exe version](https://drive.google.com/file/d/0B-qFhchxISOSY3E0bzF1aWZiZVU/view?usp=sharing), which is  MarkWrite_v0.2.2.12.exe.
1. Upack self extracting folder; top level folder created is called MarkWrite_v0.2.2.12
2. Copy your customreports.py into the same folder as the MarkWrite.exe app, i.e. Ma

[2016-05-06 08:43] Mark-Torrance opened #177 "Read in trial data from a text file"
Currently MW can create trial-level segments from HDF5 (GetWrite) data files that contain trial data. Trials are not recognised in any other input data (txyp, hdf5).

It would be good if this were possible (specifically to permit analysis of data already collected by @g-no.

If we created a text files that looked something vaguely like this (or whatever works):
## Trial1_start, time

t,x,y,p
t,x,y

[2016-05-09 14:10] isolver commented on #177
This is doable for sure. To be consistent with the current app logic, I would suggest we implement the trial parsing around the general idea of trial variables.

If the trial information is going to be embedded in one or more of the existing file formats, then we should just add support for this to the existing importer(s). We could add support for 2 new row 'types' in the data file:
1.  trial var

[2016-05-09 14:15] Mark-Torrance commented on #177
That's exactly the sort of thing that I had in mind. You could just add that to the txyp importer (for generic txyp files)?

@gnot how urgent is this?
@isolver how many hours to do this?

I'm aware that we don't yet have a report exporter that makes use of these trial variables. This would be good reason for me to get on and do this. However, I would prefer to leave it until July.

[2016-05-09 15:05] isolver commented on #177
On Mon, May 9, 2016 at 10:15 AM, Mark Torrance notifications@github.com
wrote:

[2016-05-09 15:14] Mark-Torrance commented on #177
Good. I suggest we hard-code the tag that indicates trial start (the one that's used for top-level segmentation). Currently there's a dialogue box when hdf5 files import, but this isn't needed here.

Or, better, use var_label_1 must represent the trial-start marker.

!TRIAL_COND_NAMES var_label_1 var_label_2 ..... var_label_n

@g-no and I will create an example file and then maybe we can action th

[2016-05-10 14:42] g-no commented on #177
I'd prefer a single trial variable names row.
var1 = Participant
var2 = trial number
var3 = trial name
Start time is always 0
I'd need something like this in about two weeks or earlier, please.

[2016-05-10 14:47] g-no commented on #147
Yes, this would be fine.

[2016-05-10 14:53] g-no commented on #131
Yes, basically I'm happy with the stroke detection. Further improvements could be done, but will need more testing (and reading). I'll look into this in the future.
Two possible imrpvements for now (will open new issues for this):
1. Changing the settings for stroke detection needs reloading the file. It would be cool to let them take effect immediately (seeing the effect while having the settings

[2016-05-10 14:56] g-no opened #178 "stroke detection settings should take effect immediately (without reloading the file)"
Changing the settings for stroke detection (Minimum Stroke Sample Count; Detect Edge Type) needs reloading the file. It would be cool to let them take effect immediately (seeing the effect while having the settings dialogue open, or at least without reloading the file).

[2016-05-10 15:00] g-no opened #179 "alternative source for stroke detection (based on Y-minima and -maxima)"
An alternative and very basic approach (selectabel in the Stroke Detection settings) would be to set stroke boundaries at every local Y-minimum and maximum (using the same sub settings as the stroke detection based on XY-velocity).

[2016-05-10 15:27] g-no opened #180 "adjust all settings for Experment Template in one file (GetWrite)"
We had an e-mail conversation about this some time ago. The solutions proposed by Sol are great and won't need too much time. I'll quote it here:

This would be great!

[2016-05-10 16:52] isolver commented on #177
MarkWrite currently uses project setting values to find the condition
variable that should be used for trial start and trial end times. It would
be best if we just used this same logic for !TRIAL_COND lines in a txyp
file. By best I mean a) most consistent user experience, b) quickest way to
implement the code. ;)

On Mon, May 9, 2016 at 11:14 AM, Mark Torrance notifications@github.com
wrote:

[2016-05-16 17:06] isolver commented on #177
Implemented this in MarkWrite for txyp files. tyxp files can now include data needed to create condition variables table data for a project, which will also be used to do l1 trial segmentation of the data file.

What is expected:

txyp file format is as before, but 2 new line types are supported, a line that starts with '!TRIAL_CV_LABELS', and lines that start with '!TRIAL_CV_VALUES'.

!TRIAL_CV_L

[2016-05-16 17:22] isolver commented on #177
MarkWrite version bumped to 0.2.3.

I have committed all source changes and also made a build of the standalone MarkWrite app, **MarkWrite_v0.2.3.exe**, which can be downloaded from the usual Google SHARE drive.

Closing issue. Please reopen if it is not functioning as desired / expected.

Thanks.

[2016-05-16 17:22] #177 closed, assigned to isolver

[2017-02-28 15:06] g-no opened #181 "remember the path of the last file opened"
Most of the times I have to open several files from the same folder one after the other. If I click on "open" I always have to start with the markwrite root folder. It would be nice, if the path of the last file opened could be reopened.

[2017-02-28 15:10] g-no opened #182 "remember last segment in segment tree"
When I delete a (sub-)segment from the segment tree, the segement tree jumps to the first element. It would be better if the selection would stay with the parent element of the element just deleted (so I wouldn't have to scroll down a lot).

[2017-02-28 20:08] isolver commented on #182
good point.

On Tue, Feb 28, 2017 at 10:10 AM, g-no <notifications@github.com> wrote:

[2017-08-28 16:04] Mark-Torrance opened #183 "segment report prev_nonzero index error"
This is problem is present in the segment report. It's avoided in customreports::detailed_segment_report
just with try, except:pass (i.e. not fixed but doesn't raise an error).

I've set as priority 1, but it is easily worked around by using the detailed report.

Traceback (most recent call last):
  File "C:\Users\Mark Torrance\Desktop\OpenHandWrite\WinPython\python-2.7.10.amd64\lib\site-packages\

[2017-11-14 12:46] g-no commented on #182
In addition, the following would be nice:
If I double-click on a word (or something) in Spatial View, the focus in Segment Tree is set automtically to this element.

[2017-11-14 13:06] g-no commented on #175
When using v.0.3.2 and customreports.py (2017-10-15) I have five options:
- Pen Sample Report
- Sement Level Report
- Detailed Sement Report
- Raw Sample Data Report
- Raw Sample Data Report Plus Segs Report

I get the correct reports, so: testing done, issue fixed.

[2017-11-14 13:06] #175 closed, assigned to Mark-Torrance

[2017-11-14 13:28] g-no commented on #169
In addition, all graphs/traces in the timeline (horizontal/vertical, velocity & acceleration) have to be aligned. At the moment it's possible to move the velocity trace independant of the horizontal/vertical trace. This should not be possible.

[2017-11-14 13:31] g-no commented on #168
Can't reproduce it any more. Fixed?

[2017-11-14 14:17] g-no opened #184 "workflow improvement concerning "next sample run""
If I have e.g. data from someone writing the word "HI" with 4 strokes (3 strokes for the H, i.e. lifting the pen two times within the H, and 1 stroke for the I) and I want to annotate this, I'll do the following.
1. Select the first stroke of the H
2. Press Ctrl+right (Move Selection End to next Pressed Run End) twice (now I've selected all three strokes of the H).
3. Hit "enter", type in "H", and

[2017-11-14 21:11] g-no opened #185 "import/export for settings"
It would be good to have an import/export for the settings in MarkWrite.
BTW: Is it correct, that the settings are already saved in mwp-files?

[2018-01-29 12:28] isolver opened #186 "allow child segment to share all pen points with parent"
Currently, a child segment must contain a subset of the pen points from the parent; they can not share all pen points. This causes issues when different levels of segment parsing require a child to be == its parent. For example, a sentence with only 1 word may need a sentence level segment and word level segment that have the same set of pen points.

Suggested fix is to relax the segment hierarchy

[2018-01-29 12:37] isolver opened #187 "segments with 1 sample crash detailed segment report"
Sometimes a segment is created with only 1 pen sample in it. The detailed segment report includes columns that are based on the difference between consecutive sample and assumes a segment will have >= 2 at minimum.

The fix is to update the detailed segment report to detect segments with only 1 sample and set necessary variables to a default or empty value. Effected detailed segment report columns

[2018-01-29 12:44] isolver opened #188 "MarkWrite creates trial segments with 0 samples from hdf5"
Currently MarkWrite assumes that every trial run in an experiment will have some pen data. When an hdf5 file is imported and auto trial segment creation is enabled, a trial segment is created for each row of the hdf5 trial conditions table, even if the trial has 0 pen samples in it.

Fix:

Change MarkWrite so that when hdf5 is imported, before any parsing is done, each trial is checked for pen dat

[2018-01-29 13:35] isolver commented on #187
Note, fix uses cls.missingval instead of 0 for default value

[2018-01-29 13:49] isolver commented on #188
fixed. Now, after hdf5 imported returns data, markwrite goes through each trial and removes trial (segment)s that have no pen samples during the time period.

[2018-01-29 13:49] isolver commented on #187
fixed in 0.3.4

[2018-01-29 13:50] isolver commented on #186
fixed in 0.3.4

[2018-01-29 17:14] isolver commented on #182
creating new issue for @g-no last comment

[2018-01-29 17:19] isolver opened #189 "double click spatial view should select segment"
from @g-no:

I guess selection alg should be:
   - find nearest pen point to mouse click pos in spatial view
   - if point is associated with a segment, select lowest level seg associated in seg tree.
  - if point is not associated with segment, do nothing??

[2018-01-29 17:21] isolver commented on #182
Select parent segment on seg delete is fixed in 0.3.5

[2018-01-29 19:03] isolver commented on #189
#165 maybe related

[2018-01-29 19:25] isolver commented on #181
fixed in 0.3.5

[2018-01-29 19:26] isolver commented on #183
I think this is fixed already?

[2018-01-29 19:36] isolver commented on #147
should window layout be saved at the app options level, so a user could go into the app settings and tell markwrite to use current window sizes etc. each time the app is started in the future?

or is saving window info only needed at a project file level?

[2018-01-29 19:56] isolver commented on #170
@g-no, do you find this to be a general issue or does it occur after some specific action?

currently you can adjust the view magnification using the mouse wheel: when over the window with your mouse, use your mouse wheel and the view should zoom in or out. Is this useful enough, or do you think there is still a usability issue I should fix?

thanks!

[2018-01-30 13:16] isolver commented on #184
Do we need to have a new set of selection actions that select the next / previous series / run / stroke that is not already part of a segment? So there would be 6 new movement actions:

*Unmarked == not 'annotated'

- Select Next Unmarked Series
- Select Prev Unmarked Series
- Select Next Unmarked Run
- Select Prev Unmarked Run
- Select Next Unmarked Stroke
- Select Prev Unmarked stroke

One issue

[2018-01-30 13:21] isolver commented on #160
changing to P2 so only next release issues display in P1 issue list.

[2018-01-30 13:34] isolver opened #190 "Support Surface Pro 3"
Get Surface Pro 3 working with wintab interface; assuming this can actually be done.

[2018-01-30 13:34] g-no commented on #186
Yes, it must be possible to have child == parent.

[2018-01-30 13:35] isolver commented on #190
@g-no: is it just surface pro 3's or also version 4's etc?

[2018-01-30 13:35] g-no commented on #187
good!

[2018-01-30 13:39] g-no commented on #190
I assume that if it works for surface pro 3, it'll work for surface 4+ as well. Microsoft [changed from Wacom to N-Trig digitizers](https://www.cnet.com/news/microsoft-acquires-surface-pen-technology-from-n-trig/).

[2018-01-30 13:42] #187 closed, assigned to isolver

[2018-01-30 13:43] #186 closed, assigned to isolver

[2018-01-30 13:45] #188 closed, assigned to isolver

[2018-01-30 14:12] isolver commented on #163
related #156

[2018-01-30 14:33] g-no commented on #179
Changed this from P3 to P1

[2018-01-30 14:34] g-no commented on #178
Added to P1, but less important

[2018-01-30 14:40] #168 closed, assigned to nobody

[2018-01-30 15:12] g-no commented on #189
at the bottom of priority 1, may be set to P2 if capacities run out

[2018-01-30 15:12] isolver commented on #178
How would / should existing segments in the project be handled if this is done. Should they all get removed?

[2018-01-30 15:13] g-no commented on #163
I'll put this on my to-do list.

[2018-01-30 15:15] g-no commented on #178
Hmm, true, but yes, they should all get removed. Maybe the user has to confirm the changes?

[2018-01-30 15:17] g-no commented on #154
This is old stuff, will just close it.

[2018-01-30 15:17] #154 closed, assigned to Mark-Torrance

[2018-01-30 15:23] #145 closed, assigned to nobody

[2018-01-30 15:26] g-no commented on #131
New issues #178 and #179 are open. I'll close this one.

[2018-01-30 15:26] #131 closed, assigned to nobody

[2018-01-30 16:01] g-no commented on #93
seems to be solved ?

[2018-01-30 16:39] g-no commented on #184
My proposal in pseudocode:
[code]
I'm not absolutely sure if this will work in all circumstances ...

[2018-01-31 11:54] isolver commented on #93
I think so, I do not see the warning; will close for now.

[2018-01-31 11:54] #93 closed, assigned to nobody

[2018-01-31 11:57] isolver commented on #184
I think I get the general idea; I'm not clear if you see this replacing some existing functionality, or if it should be added ad new actions / shortcut keys / toolbar actions?

[2018-01-31 12:07] isolver commented on #184
2 more questions:

1.

How should this actually be determined by the software since all segments are of the same 'type' as far a markwrite is concerned?

Could segment hierarchy level == segment type, or something else?

2. Is this only needed for pressed runs? Or does it make sense to have similar actions that:

-  select next unsegmented Series
-  select next unsegmented Stroke

or would these a

[2018-01-31 12:14] #183 closed, assigned to isolver

[2018-01-31 12:15] #182 closed, assigned to isolver

[2018-01-31 12:18] isolver commented on #169
moving multitrace bug g-no mentions in last comment to new issue

[2018-01-31 12:20] isolver opened #191 "different timeline traces should always be aligned"

[2018-01-31 12:30] isolver commented on #191
Sorry, I see when it happens now: when scrolling past the start or end of the timeline.

[2018-01-31 13:55] isolver commented on #169
Added boundary points to accel and vel traces, if plotted.
- Boundary point display setting controls visibility on all plots.
- Same boundary point color and size are used on all plots.

![va_stroke_points](https://user-images.githubusercontent.com/1795082/35626695-7c3e0c80-0664-11e8-9f75-a59c43e4e6b4.png)

Does this look OK @g-no?

[2018-01-31 13:57] g-no commented on #184
I think this should replace the behaviour of the "next something" only, i.e.
+ up (Select Next Stroke)
+ Ctrl+up (Selec Next Sample Run)
+ Alt+up (Selec Next Sample Series)

It may be possible to determine the 'type of previously annotated element' by looking at the way the element has been selected (_this would include to keep track of the user input_):
+ If the user has pressed Right before anno

[2018-01-31 14:16] g-no commented on #184
The hierarchy level is determined by the order of annotations, correct?
A child element can't span / belong to several parent elements, correct?
We don't actually name our hierarchy levels, they just happen, correct?

What may happens is something like the following (mostly orientated at linguistic units), I'm trying to display the possible range here:
Level 1: Trial / Text
Level 2: paragraph
Leve

[2018-01-31 14:18] isolver commented on #178
Since the settings in question are for Stroke detection only, what if when user closes the settings dialog these changes are applied right away *as long as the user has not yet created any segments*. If user segments exist then we use current behaviour: changes to stroke detect settings are not applied until the next data import.

[2018-01-31 14:22] isolver commented on #179
@g-no:

do you mean y *position* min / max, or y-only velocity data? Thanks!

[2018-01-31 14:26] g-no commented on #179
position

[2018-01-31 14:31] g-no commented on #178
OK, that makes sense.

[2018-01-31 14:48] isolver commented on #191
Main issue was that the velocity and acceleration plots did not have x limits set, while the xy position plot did.

Now all three plots are set to the same xmin, xmax for plot scaling, panning.

I think this fixes the issue.

[2018-01-31 14:49] #191 closed, assigned to isolver

[2018-01-31 14:50] #169 closed, assigned to isolver

[2018-01-31 15:08] isolver commented on #184
If adding segment types to markwrite is important,  it should be made into a separate enhancement / issue , since it is much bigger scope than enhancing how next data is selected.

[2018-01-31 15:09] g-no commented on #184
I'll add it, but priority is low.

[2018-01-31 15:14] isolver commented on #184
My suggestion to address the original issue post:

 Add 2 new actions (with shortcut keys, toolbar buttons); neither of which needs to know about the idea of a last created segment 'type':

- Next Unmarked Run: move selected region to next run that is a possible segment candidate.
- Next Unmarked Stroke: move selected region to next stroke that is a possible segment candidate.

Would this be OK?

[2018-01-31 15:24] g-no commented on #184
OK, sounds good. I don't know if we need extra buttons, but the keyboard shortcuts could be:
+ Next Unmarked Run: Ctrl+Shift+Up
+ Next Unmarked Stroke: Shift+Up

[2018-01-31 15:29] g-no opened #192 "add keyboard shortcuts to tooltips"
At the moment the tooltips just contain the description. It would be nice to see the keyboard shortcut as well.

[2018-01-31 15:35] g-no opened #193 "same text for tooltips as in settings"
Very minor: In the settings dialogue there are descriptions for each keyboard shortcut. The tooltips (button hover) don't contain the same text. The text in the settings dialogue is correct, the tooltips are inconsistent and should take over the text from the settings dialogue.

[2018-01-31 16:07] isolver commented on #193
good point

On Wed, Jan 31, 2018 at 10:35 AM, g-no <notifications@github.com> wrote:

[2018-01-31 16:33] g-no opened #194 "New Builder Template containing animated gifs"
A new PsychoPy Builder Example / Template would be great. Actually these would be two templates: 1 for using a TabletPC (writing on the screen as e.g. MS Surface), 2. for using a monitor and an external tablet (writing on paper or tablet surface, e.g. Wacom Intuos).

_legend for showpen:

- P = Pen tip visible
- C = Collect data
- T = show pen Trace
- A = show Angle/tilt
- G = show Glow around pen

[2018-02-01 13:48] isolver commented on #179
Implemented. Added 2 new settings:

* Use Sample Field: Select pen sample field to be used for local min / max detection. Options: 'xy_velocity' or 'y_filtered'.
* Detect Peaks / Valleys: Select whether local min, max, or both should be detected. Options: 'Minima' or 'Maxima' or 'Minima & Maxima'

Defaults are 'xy_velocity' and 'Minima'; which results in existing parser alg being used.

To instead

[2018-02-01 13:56] isolver commented on #194
- Can other movie file formats be used instead (like .avi, etc)
- Is only the video from the movie file needed; i.e. can any audio in the video fine be ignored, or should it be played too if present.
- to confirm: you want to be able to draw the pen position / graphics on top of the video frames?

[2018-02-01 14:00] isolver commented on #194
Does this need to be a Builder example, or can we extend the Coder example instead if it turns out to be much quicker to implement in Coder after I've fully digested all this? ;)

For example, things "like no pen trace visible on buttons" will likely require messy custom code in Builder and would be much simpler to do directly in a python experiment script.

[2018-02-01 15:58] g-no commented on #194
Here's a mp4 video that's running with 50 Hz. There's no need for animated gif if mp4 works. [I just found out that mp4 files are not supported. I'll zip it.]

The video doesn't contain any audio.

No need to draw on top of the video.

The "no pen trace visible on buttons" is not important.

It would be much nicer to have a Builder example, because then other people (including me) would be able to

[2018-02-01 16:29] g-no commented on #179
Cool!

[2018-02-02 16:30] isolver commented on #194
Sounds good.

On Thu, Feb 1, 2018 at 10:58 AM, g-no <notifications@github.com> wrote:

[2018-02-02 17:05] #179 closed, assigned to isolver

[2018-02-03 13:47] isolver commented on #194
@g-no:

1. what do you mean by the 'validation' step; is this something I wrote for you before? ;)

2. 'PreTrial 1' and 'PreTrial 2': should only one of  these is to occur per experiment trial?  Should which be controlled by a trial level variable or will all trials in an experiment only use v1 or v2?

3. 'Trial 1', 'Trial 2', 'Trial 3':  should only one of  these is to occur per experiment trial?

[2018-02-03 16:24] g-no commented on #194
I meant the validation process that's built into the Experiment Template. It's in getwrite\experiments\Experiment Template\run.py starting with line 636.

It doesn't really matter if this is called PreTrial or just Trial. In this template all of these trial types should occur. So far, only the trial3 type will be used for several trials, but in general all types should give the opportunity to be r

[2018-02-03 17:02] isolver commented on #194
Is PreTrial 1 the same as PreTrial 2 except no center image is shown? If so, then PreTrial 1 and PreTrial 2 can really just be the same, where PreTrial 1 image is set to blank. Is this correct?

Thanks

[2018-02-03 22:01] g-no commented on #194
Yes, that's correct.

[2018-02-04 12:31] isolver commented on #194
Are PreTrial1 and PreTrial2 examples of 'practice' trials that you want to occur prior to any of the trial 1, 2, etc logic? Before I thought they represented logic you wanted to run at the start of each trial prior to the main trial logic; this is what was confusing me.

@g-no: Can you confirm the intent is to show some practice trials prior to the block of main data collection trials?

[2018-02-04 12:35] isolver commented on #194
BTW, I have a Builder example that plays a .mp4 video and a .wav file during each trial. It is just a test, not the trial paradigm you list above, but at least we know we can play them via Builder.

For the mp4, I did need to patch the version of PsychoPy we are using with a fix for a movie3.py  issue.

[2018-02-04 15:05] g-no commented on #194
Yes, the intent is to show some practice trials prior to the block of main data collection trials.

[2018-02-04 15:08] g-no commented on #194
Thinking about the experiment, it would be good to have a "repeat trial" option built in somehow. If, e.g. a participant accidentally moves on to the next trial, it would be good to have the option to go back. Sorry, this is not more than thinking aloud ...

[2018-02-08 12:18] isolver commented on #190
Status update on this:

1. Surface Pro 3 + wacom tablet device + wacom driver: WORKS
2. Surface Pro 3 + wacom tablet device + microsoft driver: DEVICE NOT DETECTED
3. Surface Pro 3 + SP3 Pen + wacom driver: DEVICE NOT DETECTED
4. Surface Pro 3 + SP3 Pen + microsoft driver: IOHUB NO EVENTS; PYGLET DEMO OK

Have not been able to find a way to get data from the SP3 pen from within the iohub process.

[2018-02-08 12:26] isolver opened #195 "add mouse simulation mode to iohub wintab device"
To try and have some try of support for tablet devices that the iohub wintab interface can not use, add a mouse simulation option to the device config that tells the iohub wintab device to use mouse events to generate the wintab events instead of using the wintab library at all.

**Mouse event -> Wintab event mapping**

Mouse movement == pen hover sample
Mouse drag (button 1) == pen pressed sample

[2018-02-08 12:39] isolver commented on #195
Added preference to iohub wintab.WintabTablet device:

`mouse_simulation: False` (default)

- If False, device uses detected wintab device hardware (i.e. previous functionalitry).
- If True the wintab device is forced to use mouse events to generate wintab position events; even if a wintab device is detected.

[2018-02-08 12:48] isolver commented on #195
Known Considerations / Issues
---------------------------------------------
1. Event times when in mouse simulation mode need to be checked.

1. Mouse events are only sent when there is new data, not every x msec. So, if you do not move the mouse for a second, no events get generated for that second. In contrast, the wintab tablet device generates a position event every x msec, even if the positio

[2018-02-09 12:38] isolver commented on #195
Mouse sim now generates ENTER and LEAVE wintab events. So now a period of data recording can contain > 1 pen sample series.

- ENTER event is insert just before the first mouse event received after a recording start or after a LEAVE event has been generated.
- LEAVE event is generated if no mouse event has been received for leave_region_timeout seconds and was not pressed.

Updated settings for mo

[2018-02-09 14:43] isolver commented on #189
fixed in 0.3.8

[2018-02-09 15:35] isolver commented on #147
As of 0.3.8 project saves the dock arrangement and restores it when project is opened. This only changes the position / relative size of the 3 main docked windows.

[2018-02-09 15:36] isolver commented on #147
To make this more complete, should also save / restore:

- Overall app window size [update: will not do this item]
- [x] Selected time period
- [x] selected segment (if any)
- [x] timeplot viewport pan / zoom
- [x] spatialview viewport pan / zoom
- [x] selected data viewport pan / zoom

[2018-02-10 13:55] isolver commented on #178
implemented in 0.3.8. If any stroke detect setting is changed:

1. when the pref's dialog is closed
1. user is asked if they want pen strokes to be reparsed.
1. If yes: stroke boundaries are recalculated and redrawn. If no, no changes are made to current projects stroke boundaries.

[2018-02-11 15:10] isolver commented on #147
Implemented all the above but "Overall app window size"; as that seems too disruptive from a user POV.

[2018-06-09 14:48] g-no opened #196 "File names for reports"
While saving a Report in previous versions there was automatically a ".txt" attached to the file name and the file name was automatically derived from the imported file. The same for .mwp files.
- [x] offer .txt as file type for reports
- [x] offer .mwp as file type for MarkWrite projects
- [x] suggest file name derived from the imported file (as was previously the case v0.3.2) for reports and pro

[2018-06-09 14:50] g-no opened #197 "Keyboard shortcut for Reports"
A Keyboad shortcut for the report menue would very helpful, e.g. Ctrl+Shift+R?

[2018-06-09 14:55] g-no commented on #147
Only one left: The settings window

[2018-06-09 14:57] g-no commented on #180
Is this done? If that's still possible, this would be great.

[2018-06-09 14:59] g-no commented on #170
If possible, add a padding of 5 pixels on all sides.

[2018-06-21 14:09] isolver opened #198 "resolution mismatch on laptop"
Guido has a laptop where Windows can run it at 1980x1024, but psychopy is being told that it's native resolution is 1280x720.

If script is updated to set psychopy window to 1280x720, psychopy no longer gives resolution warning, but validation targets are still not appearing along the edge, presumably because the validation code is still using the 1980x1024 value internally read by psychopy or ioh

[2018-09-12 22:25] Mark-Torrance opened #199 "Remove out of date docs"
The user guide [https://github.com/isolver/OpenHandWrite/tree/master/docs](url)  is very out of date, but (for me) is first hits in google. I think we can safely remove it? I think all of the content is in the Wiki, which Guido and I will try to keep up to date.

[2018-09-15 16:42] isolver commented on #199
I've removed the whole docs directory.

[2018-09-15 16:42] #199 closed, assigned to isolver

[2018-10-22 18:40] Mark-Torrance opened #200 "Error, multiple matched strokes"
This may well be a problem with how we set up our experiment, rather than an actual bug. But Sol, we really need your help.

We get lots of

Error, 118 strokes found for sample ix 61:
        Selected Stroke 0:  (0, 0, 61L, 4.767852100543678, 79L, 4.902854236774147)
        Selected Stroke 1:  (2363, 0, 61L, 4.767852100543678, 79L, 4.902854236774147) etc.

errors when trying to create a raw sample

[2018-11-06 10:09] Mark-Torrance commented on #200
In case it's helpful, I've just noticed that I'm using markwrite-0.2.2.11-py2.7 - so a much older version from before the 2017-2018 work - and I still get this issue.

[2019-03-04 12:19] g-no opened #201 "restore previous version of wintabtest"
The attempts to integrate MS Surface 3 support resulted in a new version of wintabtest. Please restore the old one without Surface 3 support (the new one doesn't work well with wacom devices).

[2019-03-04 12:27] #195 closed, assigned to isolver

[2019-03-04 12:27] #190 closed, assigned to isolver

[2019-03-04 12:32] g-no commented on #189
can this be closed?

[2019-03-04 12:34] #173 closed, assigned to nobody

[2019-03-04 12:40] g-no commented on #147
The setting window still needs to be saved on application level, i.e. if I resize the setting window I want it to be of the same size next time I open it (irrespective of the project).

[2019-03-05 11:30] isolver commented on #193
set to P1 to track first 6 priority issues from @g-no

[2019-03-05 11:32] isolver commented on #189
I think so, but will test today and close after.

[2019-03-05 11:41] g-no opened #202 "cancelling a deletion of a segment works only once"
If I select a segment and delete it, I get a confirmation dialogue. If I change my mind and click "No" for the first time in a session, everything works as expected, but if I do the same again (even with another segment), "No" doesn't have the expected effect: the segment is deleted anyway!

[2019-03-05 11:43] g-no commented on #200
Is this behaviour solved now?

[2019-03-05 11:52] g-no commented on #181
If I open the "file | open" dialogue and cancel it, the path previously saved is lost and replaced by the default path.

[2019-03-05 11:55] g-no commented on #167
Saving images works only once!

[2019-03-05 12:00] isolver commented on #189
Hum, can't seem to get it to work so I'll look into it.

[2019-03-05 12:23] isolver commented on #189
It works, but if the nearest pen point to the double click is **not** yet part of a segment, then nothing is selected. @g-no , is this OK ?

[2019-03-05 12:34] isolver commented on #200
No it is not fixed, just patched so that the stream of warnings is reduced so the report still runs.
As I understand the situation, the resulting report is fine, this is a **big** annoyance only. Please let me know if this is incorrect.

This issue should be fixed at some point, but if the data is fine, do you want it as a Priority1 to start?
Thanks.

[2019-03-05 13:25] Mark-Torrance commented on #200
Without checking back, I don't think stroke boundaries are being calculated correctly. i.e. I'm not sure that the data are fine. Sorry, I really should check properly but won't have a chance till next week. I think this should be top of the list, though.

[2019-03-05 13:58] g-no commented on #189
Yes, this is OK!

Would it be very laborious to implement the same behavior for the Timeline?

[2019-03-05 14:09] g-no commented on #200
Stephan and I are working on a (hopefully) final way of detecting stroke boundaries in R and I'd like it to be implemented in MarkWrite. This will take a bit more time, so we could postpone this issue until this is done.

[2019-03-05 14:24] isolver commented on #200
I'll refrsh my memory and look into it this week. Thanks.

On Tue, Mar 5, 2019, 8:25 AM Mark Torrance, <notifications@github.com>
wrote:

[2019-03-05 14:26] Mark-Torrance commented on #200
Fine with me. I'm working with Camilla in Stavanger (Sol, this is a PhD student who is using openHandWrite) from 25th March, just in case you need a deadline :)

[2019-03-05 14:36] isolver commented on #200
The pressure. ;)

On Tue, Mar 5, 2019, 9:26 AM Mark Torrance, <notifications@github.com>
wrote:

[2019-03-07 14:49] isolver commented on #189
Probably not too bad. Will close this and open an new bug (Priority 2 for now).

[2019-03-07 14:49] #189 closed, assigned to isolver

[2019-03-07 14:50] isolver opened #203 "Add segment selection to timeline view"
Similar idea to #189 but applied to temporal view.

[2019-03-07 20:33] isolver commented on #202
Fixed.

[2019-03-07 20:33] #202 closed, assigned to isolver

[2019-03-07 20:52] isolver commented on #201
I think the issue might be that the wintab_test.py is just running in the 'mouse simulation' mode we added by default now.

Try changing line 49 of  wintab_test.py to be:

wintab.WintabTablet':{'name':'tablet',
                                   'mouse_simulation': **False**,

instead of True. The script should then actually use the wintab driver during the test.

I will also make the default Fals

[2019-03-07 21:09] isolver commented on #196
fixed.

[2019-03-07 21:09] #196 closed, assigned to isolver

[2019-03-07 21:28] isolver commented on #181
Fixed.

[2019-03-07 21:28] #181 closed, assigned to isolver

[2019-03-07 22:16] isolver commented on #167
Fixed.

[2019-03-07 22:16] #167 closed, assigned to isolver

[2019-03-08 10:47] g-no opened #204 "scale Time line (ordinate and velocity plots) according to range in view"
The scale of the plots in the timeline window should automatically be adjusted to the range in view.

[2019-03-08 10:53] g-no opened #205 "a replay function to replay recorded handwriting movements with different speeds in the spatial view"
A replay function to replay recorded handwriting movements with different speeds in the spatial view would be nice.
In addition: a moving indicator synchronized with the replay function in the Timeline

[2019-03-08 11:38] g-no commented on #201
Yes, that does the trick. Good to make this default.

While testing this I stumbled upon the third value, presented after the X and Y coordinates. It's somehow a negative pressure value that is 0 while the pen is on the tablet and rises up to 1023 when the pen is out of reach. Do we collect this value? If not we should. Made another issue out of this: #206 .

[2019-03-08 11:38] #201 closed, assigned to isolver

[2019-03-08 11:41] g-no opened #206 "collect distance data pen <--> surface (the value is displayed when using wintabtest)"
While testing with wintabtest I stumbled upon the third value, presented after the X and Y coordinates. It's somehow a negative pressure value that is 0 while the pen is on the tablet and rises up to 1023 until/when the pen is out of reach. I called it "distance data pen <--> surface". Do we collect this value? If not we should.

[2019-03-08 12:15] isolver commented on #206
This is saved to the hdf5 file when a tablet that supports hover distance is used.
It is saved to the 'z' column of the /data_collection/events/wintab/WintabTabletSampleEvent table.
Value between 1 and 1024 indicated the hover distance from the surface, 1 being closer to the surface.

This field is not currently used in MarkWrite at all; it is not a part of the currentmarkwrite_pendata_format eith

[2019-03-08 13:00] g-no commented on #206
Z values don't matter within MarkWrite but should be another column in the raw data reports (if they aren't already, but I don't think so).

[2019-03-08 13:22] isolver commented on #200
This bug is killing me. ;(

No fix yet, but I have figured out that if the Stroke Detection->Use Pressed Sample Runs Only setting is **unchecked**, then there is no error. If it is checked, then the issue occurs.

So the issue must be specific to the stroke parsing on a run by run basis so that should help narrow down the search.

Sorry for the delay on this one.

[2019-03-08 13:24] g-no commented on #200
Then remove the option 'Pressed Sample Runs Only' from the setting ... I doubt that anyone would care.

[2019-03-08 13:31] isolver commented on #206
We will need to add a 'z' field to the markwrite sample format then.

The only complication with this is that it means we need to handle two
types of markwrite data files, ones saved prior to adding the z sample
field and ones saved after.
Old ones could be converted to the new format and 0's used. The original
hdf5 file would need to be re-imported to get the actual z data though.

On Fri, Mar 8,

[2019-03-08 13:34] isolver commented on #200
I think I need to fix this properly. @Mark-Torrance what do you think?
I guess current 'work around' is to set it to false in the setting.
Thanks.

[2019-03-08 14:14] g-no commented on #206
This doesn't sound too problematic for me. The implementation depends on the complexity of the task: if there's time for it ... I'll set Prio 3 for now.
When we are at it, we could also include pen tilt (are there even more values we don't use at the moment?).

[2019-03-08 14:40] Mark-Torrance commented on #200
So with "pressed sample runs only" checked the stroke-detection algorithm only runs over data where pressure > 0? Which seems a sensible setting.

My feeling is that stroke detection within the GUI - i.e. strokes are visible in the timeline and are available as a selection increment - is a valuable part of the system. I know that strokes can be parsed independently on Markwrite, and after markup,

[2019-03-09 18:48] isolver commented on #200
OK, will leave for now and likely look at it in May.

[2019-03-09 19:03] isolver commented on #193
fixed.

[2019-03-09 19:03] #193 closed, assigned to isolver

[2019-03-09 19:28] isolver commented on #192
fixed

[2019-03-09 19:28] #192 closed, assigned to isolver

[2019-03-10 15:49] isolver commented on #147
Is it just the settings dialog window size you want remembered across projects, or are there other aspects of the setting dialog gui that should be remembered, like if a part/branch of the settings tree is collapsed or not?

[2019-03-10 16:08] isolver commented on #170
Fixed, spatial view now has 5 pixel padding around plot

[2019-03-14 12:25] g-no opened #207 "allow mp4 files to be used in the excel conditions file"
This is related to #194: I think the Builder Example is too complicated. It would be good, though, to be able to include mp4 files as a stimulus.

[2019-03-14 12:41] g-no opened #208 "MarkWrite settings: allow to check/uncheck horizontal/vertical position trace"
So far there is only a checkbox with the caption "Display plot" for "XY Velocity Trace" and "Acceleration Trace". It would be good to have this for "Horizontal Pen Position Trace" and "Vertical Pen Position Trace" as well.

![MarkWriteSettings](https://user-images.githubusercontent.com/15689032/54357931-6f05cf80-465f-11e9-81fc-a4d91a951a15.PNG)

[2019-03-14 12:47] g-no commented on #205
@isolver How complicated will this be roughly?

[2019-03-14 12:58] isolver commented on #205
Probably 4 - 12 hours depending on the complexity of the playback features / options.
Do you mean a playback for the data in all the views, or just the spatial view?
If just spatial view, having a seperate 'playback' window / dialog maybe easier.

[2019-03-14 13:02] g-no commented on #205
Spatial View + TimeLine with a moving indicator would be good and I could come up with lots of more features like adjustable speed and a save-as-mp4 option, but let's postpone this for a later release.

[2019-03-14 13:25] isolver commented on #147
@g-no: Is it just the settings dialog window size you want remembered across projects, or are there other aspects of the setting dialog gui that should be remembered, like if a part/branch of the settings tree is collapsed or not?

[2019-03-14 13:28] g-no commented on #147
window size should be sufficient

[2019-03-14 13:31] isolver commented on #197
Ctrl+Shift+R now launches Reports Dialog.

[2019-03-14 13:31] #197 closed, assigned to nobody

[2019-03-14 13:49] isolver commented on #147
That should not be hard to do.

On Thu, Mar 14, 2019 at 9:28 AM g-no <notifications@github.com> wrote:

--
Sol Simpson

iSolver Software Solutions
Software with a Vision

[2019-03-14 15:13] isolver commented on #203
Fixed. If double click is outside selected time region and x value is within a segment, that segment is selected.

[2019-03-14 17:58] Mark-Torrance commented on #205
My feeling about animation is that it's (a) the sort of thing that naive users like to see and (b) actually of more or less no practical use. The data is the thing. Animations are nice in conference presentations, but arguably that's better handled in R? Also the fewer features of this sort, the less there is to break in the future.

[2019-03-16 13:52] isolver commented on #147
Done for settings dialog. When size is changed it is saved to settings config file and used in future sessions of MarkWrite on that computer.

This could also done for the MarkWrite app window itself: i.e. if user changes MarkWrite app window size it is remembered in preferences and next time MarkWrite is started on that computer the app window is set to the last saved size?

@g-no, @Mark-Torrance

[2019-03-16 13:53] g-no commented on #147
Yes!

[2019-03-16 14:05] isolver commented on #185
@g-no:

There are project level settings and application level settings:

1. Project settings are saved in the .wmp file along with the project data etc. Project level settings mainly include info on the different project gui views and selected stroke etc so that next time a project is opened these are remembered.

2. Application level settings are saved in a usersettings.pkl file. These are the s

[2019-03-16 14:08] g-no commented on #185
Yes, that's it.

[2019-03-16 14:49] isolver commented on #208
Fixed. If x or y trace is hidden, associated stroke boundaries are also hidden for that trace.

If x AND y are hidden, xy plot is still displayed but with no contents. Not ideal but not worth the extra time to clean up IMO.

[2019-03-16 16:12] g-no commented on #208
If x and y are hidden, but velocity is displayed, are the associated stroke boundaries hidden? It would be good to see them on the velocity trace.

[2019-03-16 17:03] isolver commented on #208
They are still on the velocity trace. Thanks.

On Sat, Mar 16, 2019, 12:12 PM g-no, <notifications@github.com> wrote:

[2019-03-16 17:04] g-no commented on #208
Good, then I'll close the issue again.

[2019-03-17 12:19] isolver commented on #147
Fixed. Main app window size is now also saved when MarkWrite app is closed. When Markwrite is started again, main window is set to last size.

[2019-03-17 13:14] isolver commented on #185
Implemented project Settings Export (Save As).
Still TODO: Import settings logic.

Added a Save As and Load button to the bottom of the project settings dialog tree.

![mwsave](https://user-images.githubusercontent.com/1795082/54491440-f4be9080-4894-11e9-976b-dac6cada7f2d.png)

[2019-03-17 14:53] isolver opened #209 "shortcutkey2action key mismatch warning"
kbshortcut_select_next_unmarked_stroke is not found in shortcutkey2action. Keyboard shortcut has NOT been updated.
kbshortcut_select_next_unmarked_run is not found in shortcutkey2action. Keyboard shortcut has NOT been updated.

[2019-03-17 15:04] isolver commented on #185
Load Settings functionality implemented, but needs some testing and feedback please.

Changed the settings file name(s) used by MarkWrite, so this version will **not** use previously saved settings from older versions of markwrite and will start with defaults.

Path for current and default settings files:

C:\Users\USER_NAME\AppData\Local\MarkWrite\MarkWrite

Previously, settings were saved defaul

[2019-03-17 15:07] isolver commented on #185
Also note that if you load a settings file, some settings will not take effect until the MarkWrite application is restarted, like graph foreground and background colors and maybe others. There is no way to get around this really.

[2019-03-17 20:36] isolver commented on #200
Fixed in 0.4.1.
Fix is applied to any new data imports.  To correct an __existing__ .mwp file the stroke boundaries must be re-parsed so all the duplicates are removed:
1. Open project in MarkWrite 0.4.1 or higher
2. Open Project Settings dialog
3. Toggle "Use Pressed Run Samples Only Option", set it as you want, but it must be toggled once.
4. Press OK.
5. Say 'Yes' when asked if you want to re-p

[2019-03-17 20:36] #200 closed, assigned to isolver

[2019-03-18 13:59] g-no commented on #208
If it can be done in an reasonable time, it would be good to hide the xy plot if e.g. only velocity is dislayed.

[2019-03-18 14:02] g-no commented on #147
Doesn't work with fullscreen (size is ok but the window is not in fullscreen mode).

[2019-03-18 14:18] g-no commented on #185
This seems to work. There is are a few more issues here (don't know if this was the case before):

- [ ] Point size for Horizontal Pen Position Trace doesn't have an effect
- [ ] Point size for Velocity Trace doesn't have an effect
- [ ] Point size for Accelleration Position Trace doesn't have an effect

Works after reloading the file, but not immediately.

[2019-03-18 16:02] isolver commented on #203
@g-no pointed out this "Doesn't work reliably."
I think I see what you mean and you probably don't need to send an example. It should be better in next version. :)

[2019-03-18 16:35] isolver commented on #147
Now it goes to full screen if screen width == window width and screen height ~= window height.
Updated in 0.4.2

[2019-03-18 16:35] #147 closed, assigned to isolver

[2019-03-18 16:46] isolver commented on #185
Closing this bug and making #146 a P1 if that is OK.

[2019-03-18 16:46] #185 closed, assigned to isolver

[2019-03-18 16:47] isolver commented on #146
@g-no reported further issues:
- [x] Point size for Horizontal Pen Position Trace doesn't have an effect
- [x] Point size for Velocity Trace doesn't have an effect
- [x] Point size for Accelleration Position Trace doesn't have an effect

[2019-03-18 19:20] isolver commented on #146
Fixed

[2019-03-18 19:20] #146 closed, assigned to nobody

[2019-03-18 20:34] isolver commented on #203
Fixed. Now factors in level 1 / trial segments and only selects segment if it is a custom / user created segment. If point in time double clicked is unsegmented, the current selection is not changed.

[2019-03-18 20:34] #203 closed, assigned to isolver

[2019-03-19 11:12] isolver commented on #180
@g-no, for this issue, can we define the requirements a bit more? Is this good:

Allow the following experiment settings to be defined in the constants.py file for the getwrite\experiments\ExperimentTemplate example:

Pen Trace Stim
-----------------

 - [x] pen trace color
 - [x] pen trace line thickness
 - [x] pen trace opacity

Pen Point / Position Stim
---------------------------

 - [x] tiltl

[2019-03-19 11:23] isolver commented on #209
@g-no, @Mark-Torrance need input please:

This bug is because it looks like at some point I half removed these two shortcut keys / actions and I forget why. Did I just not finish the job, or are these shortcut keys actually needed? Do you have any input?

They currently do not actually exist in MarkWrite. I'll just fully remove them to fix the warning if that is OK.

[2019-03-19 11:32] isolver commented on #207
@g-no,

The Builder example is too complicated, I agree, but unfortunately without rewriting Builder (which I will not do) I have no choice but work with what I can, and that requires lots of messy custom code sections in the Builder project. I see no way of getting around this.

Re .mp4 support, do you want me to try and add this to the Builder_AV_Example or to both Builder examples?

Thank you.

[2019-03-19 11:35] Mark-Torrance commented on #209
As long as we still have "select next / previous sample series / run / stroke" then I don't think we really need a "next unmarked" version of these. In nearly all real cases the next X will be the next unmarked X, but even if it isn't repeatedly pressing the "next" keys will get you there very quickly.

[2019-03-19 11:59] isolver commented on #209
I figured we must have decided to remove them and I just didn't finish the
job. Thanks!

On Tue, Mar 19, 2019 at 7:35 AM Mark Torrance <notifications@github.com>
wrote:

--
Sol Simpson

iSolver Software Solutions
Software with a Vision

[2019-03-19 12:00] Mark-Torrance commented on #207
I don't know if this is helpful (and it's about Builder / coding in psychopy in general and not mp4), but anyway:

I think it was me that originally pushed for the Builder example, and I think Sol was hesitant. I now understand a bit more why :)

I've been doing quite a bit of programming with PsychoPy / ioHub recently, and talked to other people in my department who use PsychoPy. My impression is

[2019-03-19 12:05] isolver commented on #209
Fixed in 0.4.3

[2019-03-19 12:05] #209 closed, assigned to isolver

[2019-03-20 12:01] g-no commented on #207
I've made a conditions file and some audio, video and image files and put them into a copy of the ExperimentTemplate folder. I hope this clears up things. Could you make this run? (I forgot how to suppress random order. It should run in the given order.)

[trial_conditions2.xlsx](https://github.com/isolver/OpenHandWrite/files/2988002/trial_conditions2.xlsx)
[resources.zip](https://github.com/isolv

[2019-03-20 12:42] isolver commented on #207
Can I look at this after we do the re-parsing work? We are out of time we set aside for non re-parsing related work unless we want to use some of that 20 hours for this now.

[2019-03-20 13:52] g-no commented on #207
Yes, keep the hours aside.

[2019-03-20 16:53] isolver commented on #180
I'm generalizing this to be used in the getwrite\wintabtest as well.

[2019-03-20 17:20] isolver commented on #180
@g-no, I have done (and tested) the above additions to the constants file. The only one remaining is the pen tip type, which is currently always the Gaussian type. Do you want me to add an option to use a standard circle or image instead, or is this not so important? Thank you.

[2019-03-30 08:53] Mark-Torrance opened #210 "keyboard trigger - check and include?"
Partly as an exercise in getting to know the experiment template code, and partly because we needed it, I've added a keyboard trigger. This just involved changes to `run.py`. My script is there.

[run_270319.py.txt](https://github.com/isolver/OpenHandWrite/files/3025275/run_270319.py.txt)

`_TRIG` will now also take

[code]

The trigger classes look like this...

[code]

with the `fired` method no

[2019-04-08 16:01] isolver commented on #210
We should definitely add this to the next release. Nice. Thank you.

[2019-06-14 10:01] isolver commented on #170
Not sure this was ever really fixed properly... working on it.

[2019-06-14 10:05] isolver commented on #170
really fixed it this time I think.

[2019-06-14 10:05] #170 closed, assigned to isolver

[2019-06-14 10:32] isolver opened #211 "stroke selection misses last sample"
From @g-no:

[2019-06-14 10:44] isolver commented on #211
Also occurs when using "Move selection end to next / prev stroke end" actions.

[2019-06-14 10:44] isolver commented on #211
Fixed in 0.4.7.

[2019-06-14 10:44] #211 closed, assigned to isolver

[2019-06-14 11:17] isolver opened #212 "how to handle series with 1 minima"
@g-no commented:

[2019-06-14 11:17] isolver commented on #212
My concern with doing this, is that we are therefore making any series with min thesh sample count and with 1 minima a stroke; regardless of its 'quality'.I'm not sure we will be able to classify its type PAUSE vs. MOTION properly anymore. Or is this more a theoretical issue and not one for actual data analysis?

I was wondering if we should use the minima as the stroke start and the series end as

[2019-06-14 11:26] isolver opened #213 "Alt+S does not open Project Settings dialog"
@g-no commented:

It looks like we will need to change it from Alt+S to something else, as Alt+S is already used to activate the Segment Menu.

How about Ctrl+Alt+S to open the Settings dialog?

[2019-06-14 11:28] isolver commented on #213
I switched it to Ctrl+ALt+S. Let me know if that is an issue.

[2019-06-14 11:28] #213 closed, assigned to isolver

[2019-06-14 11:32] isolver opened #214 "txyp file issue with new parser"
From @g-no:

[ohwfinalsteps.zip](https://github.com/isolver/OpenHandWrite/files/3290424/ohwfinalsteps.zip)

[2019-06-14 11:34] isolver opened #215 "new parser Curvature ISD considerations"
From @g-no

Sent email with comments.

[2019-06-14 11:37] isolver opened #216 "last stroke sample given -1 type in report"
sample stroke index is also incorrectly set to a -1.

[2019-06-14 11:39] isolver commented on #180
@g-no, can we close this or should we keep it open for now and switch delivery date?

[2019-06-14 11:47] isolver opened #217 "Add new Parser Report"

[2019-06-14 12:27] isolver commented on #217
New report, with columns from current raw sample report with segs plus:

These columns should only be populated if the V&C stroke alg is in use. Otherwise fill with nan value for report.

[2019-06-14 13:06] isolver commented on #215
I think we should just try and add the rule that the prev point used in angle calc will be limited to the index range [prev_stroke_boundary_ix, current_minima_ix] but do not change the next point / forward search rules. What do you think?

from @g-no:

--

[2019-06-14 13:09] g-no commented on #212
This sounds like a good solution.

[2019-06-14 13:14] g-no commented on #180
That's fine! I'll close the issue.

[2019-06-14 13:14] #180 closed, assigned to isolver

[2019-06-14 22:19] isolver commented on #214
Fixed. Minimum series length was not be applied when new parser was being used, causing NaN values in iti interval calc in some txyp files.

[2019-06-14 22:19] #214 closed, assigned to isolver

[2019-06-15 12:04] isolver commented on #217
Implemented initial version of report. Needs some sanity testing, but looking good I think. @g-no, can you look at the attached and confirm it has the report format you wanted? I know where are still a couple open issues like the output values a strokes last sample.

[Sample_Velocity_And_Curvature_Stroke_Parser_Report_python_exp_template.txt](https://github.com/isolver/OpenHandWrite/files/3293067/

[2019-06-15 13:17] isolver commented on #212
This ended up being equal to just using same logic as series with > 1 minima, which already was adding start and end points.

[2019-06-15 14:24] #212 closed, assigned to isolver

[2019-06-15 15:50] g-no commented on #217
I had a quick look and couldn't find any issues :)

[2019-06-16 11:12] isolver commented on #216
fixed in 0.47

[2019-06-16 11:12] #216 closed, assigned to isolver

[2019-06-16 11:24] isolver commented on #217
Closing, will be available in 0.47 release. Please make new issue if you find any problems. Thanks.

[2019-06-16 11:24] #217 closed, assigned to isolver

[2019-06-16 11:51] isolver commented on #215
Humm, even in this case it is not straight forward to do because we calculate the 'pre' index in a vectorized fashion (using apply in R, or vectorize in numpy). This could be worked around by turning it into a for loop with extra logic.

Also, a 'stroke' is not defined until after we apply the dalpha filter, before that we still only really have minima's that are stroke 'candidates'.

So I'm not s

[2019-08-04 17:21] Mark-Torrance opened #218 "Settings .pkl should be saved in markwrite directory and not per-user"
Saving setting is a fantastic addition, and is pretty much essential is you want to play around with stroke definitions (and we do). But then settings files need to be easily sharable across users. This is particularly the case because setting are potentially used by reports, which might be retrospectively batch processed.

Anyway what I suggest is that settings are always written to and read from

[2019-08-05 12:05] isolver commented on #218
You can now also save / load project setting files so users can save a
project settings file and share or reuse those settings by reloading the
saved settings file.

The reason the default settings file is currently saved to
[user]\AppData\Local\MarkWrite\MarkWrite on Windows is because this is
guaranteed to be a writable folder. The folder location depends on the OS
running and tries to use a OS

[2019-08-09 09:36] Mark-Torrance commented on #218
Ok, that makes sense. There are two other scenarios - single users using multiple computers, and multiple users using multiple computers, with all of them working on the same data / project. Multiple users different project but same computer seems unlikely to me for an application like this.

I know that as things stand you can choose to save settings anywhere, so one strategy would just be to tel

[2019-09-23 09:02] #210 closed, assigned to isolver, g-no

[2019-10-11 11:54] simon-more opened #219 "OpenHandWrite on MS surface Pro 6"
Hi, I'm Simon Moré, I'm working in Marseille at Laboratoire de Neurosciences Cognitives with Jeremy Danna.
Quickly : I’m trying to use OpenHandWrite on a MS Surface pro 6 with the surface pen,
but Wintab test returns  `no wintab devices found`

I have installed
- driver microsoft  : SurfacePro6_Win10_18362_19.083.29713.0.msi
https://www.microsoft.com/en-us/download/details.aspx?id=57514
- Last win

[2019-10-11 12:11] simon-more commented on #219
oh and I've installed a photoshop trial version, Apparently, it fixes some bug for peoples.

[2019-10-11 12:40] g-no commented on #219
Hi Simon,
I'm sorry to say that OHW will not work with your MS Surface. Since Surface 3 Microsoft uses N-trig Hardware instead of Wacom. We tried to make OHW run on a Surface 3 but we didn't succed although Sol has tried really hard (see #190). If you use a Wacom tablet, you are on the safe side (you could use a Wacom LCD-Tablet if you want the subjects to write on a screen).

[2019-10-11 12:43] isolver commented on #219
Would the mouse mode we added to the wintab device (for this type of
situation) work well enough? If you set the device to run in mouse mode
then it uses mouse events to generate the pen events. You do not get
pressure or z data, but you do get time, x, y, and hover vs pressed info.

On Fri, Oct 11, 2019 at 9:40 AM g-no <notifications@github.com> wrote:

--

<https://www.labhackers.com>

Sol Simps

[2019-10-16 12:09] simon-more commented on #219
Hi,
I'm precisely interrested by pressure ( and why not z and tilt).
Now i'm trying with .NET and if it works I would try with pythonnet or IronPython.
Did you tried this?

[2019-10-16 13:09] isolver commented on #219
If I recall were able to get it a rough test working when the events were
being collected in the same process as the experiment, but could not get
events when running from a separate process as iohub does for all devices.
Since event timing was an important consideration, we did not look into it
further. So it was not an issue of getting the events from within python in
general, but getting it to

[2019-10-25 08:07] simon-more opened #220 "which version ofPsychopy?"
Ok, I won't take account the MS Surface pro 6, In first time I will try OHW with an "Wacom intuos large". and in first time x,y will be sufficient

Which version of psychopy is the good one to use OHW

with psychopy 3.05 ( python 2.7), I had some trouble running wintab test

`from psychopy.iohub import launchHubServer, EventConstants`

this is fixed with with
` from psychopy.iohub.constants import

[2019-10-25 08:43] isolver commented on #220
Everything you need, including the Python environment and package versions OHW works, with from the releases page:

https://github.com/isolver/OpenHandWrite/releases

OHW is not compatible with current versions of PyschoPy, or Python 3 for that matter.

[2019-10-25 08:43] #219 closed, assigned to nobody

[2019-10-25 09:43] Mark-Torrance commented on #220
Quick additional wider comment, but relevant here:

Simon, it's great that you are using this. You currently have four options for creating experiments with wacom tablets via OHW.

- Use PsychoPy Builder. There's an example with OHW. To be honest, though, we don't know of anyone who has gone down that route - it relies on a lot of custom code - and it would not be my choice.

- Use the Template Ex

[2019-10-25 09:43] #220 closed, assigned to nobody

[2019-11-06 13:54] simon-more commented on #220
Hi,

I'm in the way for the 4th option, programming my own experiment but using some parts of OHW's scripts.

To do simple modification on your scripts, I need to know which version of Psychopy is used.

For example, if I want to modify the color of the trace in Wintab_test, how to do?

I have to check how works "psychopy.iohub.client.wintabtablet.PenPositionStim" but  for which version of psychop

[2019-11-07 12:32] isolver commented on #220
You are looking in the right place from the sounds of it.

[2020-01-10 12:53] g-no commented on #198
Stefan found a solution to this:
In Windows options - Display you can scale the "size of Text, Apps and other elements" [translated from the German version]. If this is set to 100% the issue is gone.
So maybe there's a way to change this setting to 100% as long as GetWrite is running and reset it to the previous value afterwards?

[2020-01-10 12:59] g-no commented on #206
If we add hover distance, could we also add azimuth and altitude as well (maybe that's in the hdf5 file already)? (The user from Marseille were asking for this.)

[2020-01-10 13:03] g-no commented on #206
In this context: Wacom has come up with a "new standard" for digital ink: [https://developer.wacom.com/en-us/will-digital-ink-technology](https://developer.wacom.com/en-us/will-digital-ink-technology). Does this help us anyhow?

[2020-01-13 14:34] isolver commented on #198
I can look into this, but at this time I'm not aware of anyway to change this setting programatically.
If Windows 10 does not use 100% scaling, there is also a 1 retrace delay to all visual / screen updates, as I show [here](http://blog.labhackers.com/?p=351)
So at minimum it would be nice to be able to detect what the setting is and give a warning / error at the start of an experiment if it is be

[2020-01-13 14:40] isolver commented on #206
I think both are also already saved to the hdf5 file; if it is view-able in the wintabtest demo then it is likely in the hdf5 file, so this would be adding new fields to the MarkWrite Project's Pen Sample structure.

[2020-03-11 09:37] g-no opened #221 "velocity plot in OHW not scalable with mouse"
In MarkWrite the velocity plot is no longer scalable with the mouse.

[2020-12-13 21:07] Krissi001 opened #222 "Warning in monitor center"
OS: mcOS Big Sur 11.0.1
PsychoPy version: 2020.2.10

When I wanted to delete the last monitor calibration in the monitor centre, this error code appears:

Traceback (most recent call last):
File „/Volumes/PsychoPy-2020.2.10/PsychoPy.app/Contents/Resources/lib/python3.6/psychopy/monitors/MonitorCenter.py“, line 720, in onDeleteCalib
File „/Volumes/PsychoPy-2020.2.10/PsychoPy.app/Contents/Resources/

[2020-12-14 09:51] Mark-Torrance commented on #222
Krissi, this is a PsychoPy issue rather than something specific to the OpenHandWrite code, I think. Probably best directed here https://discourse.psychopy.org/

[2020-12-15 13:58] #222 closed, assigned to nobody

[2020-12-17 12:31] syu-id opened #223 "Pen sample report is empty if the condition file contains Chinese characters"
Thank you for this great project! We are developing an experiment to record the handwriting of Chinese characters.
We are using the latest OpenHandWrite release (v0.4.7) and have built a test experiment based on the Builder example (`getwrite\experiments\Builder_AV_Example`).

## The problem

In our tests, the pen sample report will be empty if the Excel condition file contains Chinese characters.

[2020-12-17 13:24] isolver commented on #223
Thanks for reporting the issue and providing such an excellent description of the bug.

I can reproduce the issue using the test hdf5 file you included and v 0.4.8 of the source code. I'll try to fix the problem by the new year.

The python error that is occurring is:

[code]

[2020-12-18 11:59] Mark-Torrance opened #224 "Builder example saves trial onset times as integer type"
The following hdf5 was created with an experiment based on `\getwrite\experiments\BuilderExample`

[00_Handwriting-main_2020_Dec_18_1756.zip](https://github.com/isolver/OpenHandWrite/files/5715442/00_Handwriting-main_2020_Dec_18_1756.zip)

In the EXP_CV_1 table DV_TRIAL_START and DV_TRIAL_END store trial onset and offset times. When opened in R these appear as integer type, and so are only to 1 se

[2020-12-18 13:24] Mark-Torrance commented on #224
Ah, ok, easy solution (thanks Shaoyun): The data type of DV_TRIAL_START and DV_TRIAL_END appears to be determined by the placeholder values in the condition file. Changing these placeholders to -1.1, the timestamps seem to be correct now.

[2020-12-18 13:24] #224 closed, assigned to isolver

[2020-12-20 16:11] isolver commented on #224
This is, for better or worse, expected behaviour. Each column's data type is determined by the first row of data. We could change it so that a number column is always saved as a float if you think that would be more user friendly.

[2020-12-20 17:48] Mark-Torrance commented on #224
Thanks Sol. Sorry. We worked this out :) I think we leave it as it is.

[2020-12-21 14:25] isolver commented on #223
Release [0.4.9b](https://github.com/isolver/OpenHandWrite/releases/tag/0.4.9-beta) has been created. Please let me know if you run into any issues. Thanks.

[2020-12-21 14:25] #223 closed, assigned to isolver

[2020-12-21 14:57] syu-id commented on #223
Thank you so much for the fix! Now pen sample reports are exported with Chinese characters.

![image](https://user-images.githubusercontent.com/1129506/102789934-1fce0080-43e8-11eb-8fdf-840bb0c6ce06.png)

[2021-02-22 11:00] syu-id opened #225 "Pen sample report: misaligned columns for rows without segment tags"
If a sample/row is not labelled with a segment tag, the `cat1.L2` column seems to be occupied by the content of the following column (`EXPERIMENT_ID`). And all the remaining columns are shifted left by one column.

The `cat1.L2` column should be empty or filled with a dummy value such as "NA" if there is no segment tag.
Could you fix this problem? Thank you!

![level2missalign](https://user-images

[2021-02-22 11:26] Mark-Torrance commented on #225
Could you give us a bit more detail here? This is output from a MarkWrite report? Which report? Could you send an example output and also the raw (hdf5) input file? I think you can zip then add to this issue.

[2021-02-22 11:28] syu-id opened #226 "Convert x & y coordinates into real world measurements?"
Hi. We want to calculate the length of a stroke by using the coordinates of the sample points.

For example, we measure the length of the vertical stroke highlighted in the picture below. By adding up the distance between every two consecutive samples, we get a length of 2574. But how do we translate this into a real world measurement such as millimetres?

Can one convert the coordinates into real

[2021-02-22 11:38] Mark-Torrance commented on #226
I'm assigning this to Guido @g-no who will be able to give you a definitive answer. But this should be a simple conversion, using the lines-per-cm resolution for the Yoga digitiser. For the Wacom tablet that we've been using this is 1300 (from memory).

[Tangentially, it's really good to know that this works on Thinkpad. I didn't realise that they used Wintab.]

[2021-02-22 11:40] syu-id commented on #225
Dear Mark, thank you for your reply!
We are using the pen sample report. We are currently using MarkWrite to label strokes manually.

I have attached a zip file that contains the hdf5 file, the mwp project file and a pen sample report.
[pen-report-misalign.zip](https://github.com/isolver/OpenHandWrite/files/6021641/pen-report-misalign.zip)
Thank you!

[2021-02-22 11:41] g-no commented on #226
I'll look into this and post an answer later today.

[2021-02-22 11:46] syu-id commented on #226
Thank you Mark and Guido!
[And yes, OpenHandWrite works on Thinkpad Yoga nicely!]

[2021-02-22 14:20] g-no commented on #226
You need to find out the spatial resolution of your digitizer (this is not the same as your LCD resolution). For example an Intuos4 XL A3 Wide has 5,080 lines per inch, i.e. 1000 lines per cm == 0.001 cm/line. You can find out the resolution of your device by starting a new session and move the pen to the ends of all sides (top/bottom/left/right). In the data you look for the x min/max (min should

[2021-02-22 15:31] Mark-Torrance commented on #225
I'm puzzled about why we've not see this issue before, but anyway here's the fix. I'm using MarkWrite version 0.4.9.

In the root MarkWrite folder replace customreports.py with this file. Remove the .txt extension.

[customreports.py.txt](https://github.com/isolver/OpenHandWrite/files/6022782/customreports.py.txt)

The issue was in `class PenSampleReportExporter(ReportExporter)`. The parent class

[2021-02-22 16:02] Mark-Torrance commented on #226
Let us know what you find. Quick googling hasn't come up with any official specs.

[2021-02-23 07:51] syu-id commented on #225
Thank you so much for the fix! It works very well. Now we don't need to realign the columns before using the segment
information!

I remember PsychoPy experiments put various variables after the columns from the condition file. So I am totally fine with the arrangement of the columns.

![image](https://user-images.githubusercontent.com/1129506/108814506-454cd580-75f6-11eb-9e2c-11f1e078db36.png)

[2021-02-23 09:07] syu-id commented on #226
Thank you so much for your suggestions!
So for pen tablets, we just need to check out its specification sheet and find out its lines per inch.

For my PC, I looked up the physical size for a 16:9 14inch display here: http://screen-size.info/.
The dimensions should typically be 310mm x 174mm.

The max x and y values I collected were roughly 31000 and 17400.
So my 2017 Thinkpad Yoga should have a lp

[2021-02-23 09:28] Mark-Torrance commented on #226
If you are using Intuos tablets I think they are 130 lpmm. The official spec is 100, but we observed130 and I think @s-he confirmed this.

[2021-02-23 09:36] syu-id commented on #226
Thank you! So the official spec may not always be accurate ...
We will collect the max x and y values and calculate lpi or lpmm for pen tablets too.

[2021-02-23 09:43] Mark-Torrance commented on #226
In this case they actually changed the spec but for some reason didn't advertise the fact. Stefan can confirm this though (I might be misremembering).

[2021-02-23 09:48] syu-id commented on #226
I see ... So it's always the best to confirm the actual lpmm by oneself to avoid such problems.
Thank you!

[2021-02-23 09:50] s-he commented on #226
According to the manual, the spatial resolution of Intuos 4 tablets is 200lpmm. As far as an Intuos 4XL tablet is concerned, we, however, observed a spatial resolution of 100lpmm.

To verify your calculations, you could just produce some horizontal, vertical, or diagonal strokes of e.g., 1 or 10 cm (by means of a ruler).

[2021-02-23 09:56] syu-id commented on #226
Thank you Stefan!
Draw lines with a ruler is a nice way to verify the calculation!

[2021-02-23 09:58] Mark-Torrance commented on #226
I clearly just made 1300 up then! For plug-in tablet like Intuos there is also the issue of what the resolution is set to in the Wacom software, of course. Measure it for yourself is clearly the way to go :)

[2021-02-23 10:14] s-he commented on #226
“For plug-in tablet like Intuos there is also the issue of what the resolution is set to in the Wacom software, of course.”

This holds for the temporal resolution, too. You could set it to about 200Hz, but also to a lower temporal resolution (as fas as Wacom Intuos tablets are concerned). I cannot specify the lower temporal resolution at the moment, but I guess it is around 133 Hz. Typically, bui

[2021-02-23 10:27] Mark-Torrance commented on #226
[Edits to remove email chain, because this is a public repository.]

GetWrite accesses sample times directly (i.e. from the computer clock). So I don't think duration and velocity are dependent on temporal resolution.

[2021-02-24 02:31] syu-id commented on #226
It's great to know that GetWrite accesses the computer clock directly.
Thank you very much for all your kind help and information, I think my problem is successfully solved!

[2021-02-24 09:22] Mark-Torrance commented on #226
The reason MarkWrite needs to know about temporal resolution is because this is necessary for determining when the pen is out of range. You need to know when the next sample should come in order to decide whether or not the pen is still sampling. This is also important when MarkWrite analyses data that have been captured using programs other than GetWrite.

[2021-02-25 02:46] syu-id commented on #226
So we don't need to worry about the accuracy of timestamps if the samples are collected with GetWrite. But it is important to know the temporal resolution if the samples come from other programs and computer clock time is not recorded. Is my understanding correct? Thank you!

[2021-02-25 09:36] Mark-Torrance commented on #226
True. Timestamp accuracy will be best-possible within the PsychoPy / ioHUB environment in which GetWrite is built. So "industry standard" accuracy.

No. Data from other programs will have timestamps as well. MarkWrite needs time, x, y and pressure (which can be 1,0) to work. It only needs to know sampling rate (temporal resolution) so that if knows when a sample has been missed, and therefore know

[2021-02-25 12:52] syu-id commented on #226
Thank you so much for your detailed answers! Now I understand that sampling rate is crucial for detecting "series boundaries". It's also great to know that we don't need to worry about timestamp accuracy when using GetWrite within the Psychopy / ioHub environment.

[2021-02-28 13:13] isolver commented on #225
I'll look into the reports bug and update the repo with the fixed version
you made sometime this week.

On Mon, Feb 22, 2021 at 11:31 AM Mark Torrance <notifications@github.com>
wrote:

--
Sol Simpson

iSolver Software Solutions
Software with a Vision

[2021-02-28 13:20] isolver commented on #226
I'm pretty sure we can read the max raw output range a device will use from the device itself. I'd have to double check that my memory is correct though. If it is, we could add params to the wintab device config that allow a user to specify the width and height of the digitizer surface. If provided, we could convert raw units into the width / height units specified in the config.

@Mark-Torrance ,

[2021-03-13 06:50] syu-id opened #227 "Screen-tablet mapping and aspect ratio stretch"
Hi, @HST01 wants to record hundreds of Chinese characters in her experiment. She plans to use a Wacom tablet and let participants see their pen traces on the screen (instead of writing on paper with an ink pen, which can be environmentally unfriendly).

The screen has a 16:9 aspect ratio and the Wacom Intuos Pro PTH-860 tablet has a 311x216 mm writable area (**Figure 1**). To make the vertical and

[2021-03-13 09:35] Mark-Torrance commented on #227
@g-no @s-he Do you have suggestions here?

With some quick testing, as far as I can tell any screen settings (and possibly tablet settings) in the Mapping section on the Wacom app are ignored by ExperimentTemplate and WintabTest. In both the PsychoPy window object is set to full screen. In ExperimentTemplate the display is set up with the following function (in the Graphics module)

[code]

`displ

[2021-03-13 13:15] syu-id commented on #227
Thank you Mark!
Do you mean we can modify the `physical_dimensions` under the `Display` section in the yaml?

<img src="https://user-images.githubusercontent.com/1129506/111031162-70825200-8449-11eb-8581-b5e5a0a1dd27.png" alt="Image" width="300">

[2021-03-13 13:23] Mark-Torrance commented on #227
Yes.

[2021-03-13 13:27] syu-id commented on #227
Thank you! I am not sure which values to use. Should we change it to 311 x 216 mm (size of the tablet)?

[2021-03-13 13:28] Mark-Torrance commented on #227
Note that you can change units to `'pix'`. I'm thinking that your strategy is to create a window that's smaller than the size of the monitor (so not full screen) with the same aspect ratio as the tablet.

[2021-03-13 13:38] Mark-Torrance commented on #227
I think the aspect ratio is the issue here rather than the exact dimensions. I'd change it to the largest window that you can create on your monitor with the correct aspect ratio. To be honest, though, I'm really not sure if this is going to help. I think the issue is the mapping between the the x and y distances between lines on the digitiser and x and y pixel density on the screen. I don't think

[2021-03-13 14:25] syu-id commented on #227
Thank you! I will try it out with @HST01's help. I don't have a pen tablet so I can only test with my 2-in-1 PC at the moment.

I configured both the `physical_dimensions` in the yaml (**Figure 1**) and the window size on Psychopy's Experiment Settings window (**Figure 2**). I set the values to 933x648 (that is 311x216 * 3). [Somehow with the default `testMonitor`, Psychopy thinks my screen (2560x

[2021-03-13 14:30] Mark-Torrance commented on #227
That's good to know. Also good that these solutions are here so that other people can benefit. Are you using PsychoPy Builder to create you experiment? If so, it's also good to know that this works ok.

[2021-03-13 14:32] syu-id commented on #227
Yes, we are using PsychoPy Builder because it's more friendly to the students!

[2021-03-13 14:38] Mark-Torrance commented on #227
So the yaml and the setting in the Builder GUI should both be doing the same thing - i.e. allocating values to the same parameters in the visual.widow object. If you have a second you might check to see which are actually having an effect (or whether both need setting)?

[2021-03-13 14:51] syu-id commented on #227
I changed the `physical_dimensions` in the yaml to some non-sense values such as 1x1 and the experiment still worked for me. So I guess the Builder GUI setting is doing the job.

[2021-03-14 07:55] syu-id commented on #227
An update:

We tested with @HST01's PC and tablet. We let the experiment window have the same aspect ratio as the Wacom tablet, and the stretching problem on the tablet has been solved! (**Figure 1**)

NOTE: The validation procedure from the Builder_AV_Example would turn the windowed experiment into a cropped fullscreen state. To avoid this, comment out the `maximize()` and `set_fullscreen(True)`

[2021-03-14 08:52] isolver commented on #227
iohub opens the wintab device in using the wintab api WTI_DEFCONTEXT setting, which means it tells the device to report data using the raw tablet resolution / reporting units instead of screen pixels. This means any wacom settings about mapping tablet -> screen are not used. I believe we made this decision so that we has access to the higher resolution, raw, pen data, and could convert it to (sub)

[2021-03-14 09:12] syu-id commented on #227
Thank you, Sol!
So the `physical_dimensions` in the yaml is for use with an eye tracker and it should be given the physical size of the display.

Yes we use the PsychoPy version distributed with OHW. My video card is just the integrated one on my laptop CPU - Intel HD Graphics 620. I wonder if the mismatch between the two resolutions has something to do with Windows' scaling setting?
Mine is set t

[2021-03-14 09:24] isolver commented on #226
You can read the wintab device's native resolution / reporting range, using the `getHardwareConfig()` method of the iohub wintab device. Once iohub has started you can access the wintab device:

[code]

and then read the hardware config iohub collected from the wintab deivce driver, including the x and y output range (as reported by the wintab hardware, so should be verified):

[code]

outputs the

[2021-03-14 09:37] #225 closed, assigned to isolver, Mark-Torrance

[2021-03-14 09:44] isolver commented on #225
Added the fixed file to the [current 0.4.9 release page](https://github.com/isolver/OpenHandWrite/releases/tag/0.4.9-beta). Will pull into OHW distribution next time we do a full release,

[2021-03-14 09:59] isolver commented on #227
@rongmu , thank you for the quick reply.

Correct.  That and the

[code]

settings are used to calculate ppd info for eye trackers that do not report it themselves.

The scaling factor could be it. I try to keep it set to 100% because when running at anything but 100% an extra[ 1 frame delay is added to actual visual stim onset/offset times](http://blog.labhackers.com/?p=351). I think the OS adds

[2021-03-14 10:27] syu-id commented on #227
Thank you for your advice!

I set the scaling factor to 100%, and after toggling the fullscreen option in the Builder GUI, PsychoPy now detects the native resolution of my display. So the scaling factor should be the cause.

<img src="https://user-images.githubusercontent.com/1129506/111064971-8dc32900-84fa-11eb-9333-59edf45089cf.png" alt="display resolution" width="320">

[2021-03-14 11:06] isolver commented on #227
Thanks for verifying that. I'll see if this is intended functionality or
not in PsychoPy.

On Sun, Mar 14, 2021 at 7:27 AM Shaoyun Yu ***@***.***> wrote:

--
Sol Simpson

iSolver Software Solutions
Software with a Vision

[2021-03-20 12:50] Luztw opened #228 "RuntimeError: dictionary changed size during iteration"
Thanks to whom contributed to this project,  this is an amazing if I could use it in my Chinese hand writing experiment. But  I meet an  error message in the very beginning stage in running "build_ohw_dist.bat ". I am new to python script, so I don't have an idea about this error below:

 File "D:\OpenHandWrite-0.4.9-beta\OpenHandWrite-0.4.9-beta\src\markwrite\markwrite\util.py", line 101, in <mod

[2021-03-20 13:06] Mark-Torrance commented on #228
We're very happy that you plan to use this.

Your strategy for getting started is to download and extract the full OHW distribution linked here https://github.com/isolver/OpenHandWrite/releases/tag/0.4.9-beta. Also note the temporary custom-report fix, if you are likely to want to use that report. Then plug in you digitising tablet and check the you can run `Run_TestWinTab.bat`. Then explore eithe

[2021-03-26 13:57] #228 closed, assigned to Mark-Torrance

[2021-03-27 16:38] Luztw commented on #228
It is really appreciate for your help. We run it and it works. And we also found many information are already written in  the wiki. We are reading these document. Thank a lot.   Meichun

[2021-03-29 11:23] Mark-Torrance opened #229 "GetWrite not working with Wacom intuos pro PTH-860"
This is second hand, from here https://github.com/rongmu/chinese-handwrite-exp/issues/10 (private repository, but I've copied important information here).

This is the content of the console. Not sure how much help it is...

Note: Dynamic code seems intended but updating is "constant":
"$os.path.join(ui_dir, 'nowriting.jpg')", in Routine main_audio (NO_WRT_BR: Image)
"$font_chinese", in Routine re

[2021-03-29 11:58] isolver commented on #229
Is the above text being written to the Builder / Coder console by the
experiment or to a standard windows cmd window? I don't recognize that type
of output.

If the text is being written to the PsychoPy Console by the user, can they
try to not write to the psychopy console as it slows down the more you
print and eventually freezes up. This is an issue in the old version of
PsychoPy we are using.

[2021-03-29 12:03] Mark-Torrance commented on #229
It's written to a standard windows cmd window by an experiment that was written based on this example `\OpenHandWrite_0.4.9\getwrite\experiments\BuilderExample`   So I'm assuming this is written by the code that's generated by Builder.

[2021-03-29 12:09] isolver commented on #229
Does the same model fail if the base wintab test (in the wintabtest folder)
is run? Since the model works at first and then fails, I'm trying to get a
sense of whether it is the experiment template that is causing the issue or
if it occurs across demos and therefore actually something to do with the
model. thanks again.

On Mon, Mar 29, 2021 at 9:03 AM Mark Torrance ***@***.***>
wrote:

--
Sol Sim

[2021-04-03 11:10] Mark-Torrance opened #230 "MarkWrite trial labelling"
This isn't really a bug - more an unwanted side effect of existing functionality. See initial discussion of automatic segmentation here: #95

### Context and issue
For data collected using GetWrite, MarkWrite identifies trials just on the basis of start and end times, taken from the EXP_CV_1 table in the hdf5 file. Labelling is then provided by MarkWrite, giving Trial 1 to Trial N in temporal sequ

[2021-04-05 08:59] Mark-Torrance commented on #230
Thinking more about this: It's actually a more serious issue. The current automatic top-level segment labelling doesn't, of course, just affect what is displayed in the MarkWrite GUI. It also provide that top-level label in the output. If this label is used in subsequent analysis to identify trial, then skipping one trial will mean that all subsequent trial numbers are wrong. This can be avoided s

[2021-04-05 11:50] isolver commented on #230
I feel like this is in part because there is confusion about currently what a MarkWrite trial _label_ is, which is not equal to the trial's id. It is also clear that this confusion is unneeded and should/could be improved.

My concern about leaving this up to the user is that it does not ensure each trial label is unique. I wonder if we should just switch it back to how it originally worked, using

[2021-04-05 12:50] Mark-Torrance commented on #230
Yes. This is all that's needed. The deluxe fix might be to allow users to add a tag to the trial label from another column in EXP_CV. This is, actually, pretty essential if, for example, experiments are set up with more than one pen-capture event per trial. But also might be useful for markup in some contexts. I'm just thinking of `Trial1_usertag1` etc.

A problem arises when some trials don't inc

[2021-04-27 07:26] poirotdavid opened #231 "A suitable psychopy version to execute your psychopy template"
When we executed your psychopy template, it shows that psychopy version did not match. We tried version 2.7.4 to executed your the template, but it is not successful. Actually, your suggestion is version 2.7.3, but there are a few problem in this version( and it was fixed on version 2.7.4 ). So I am wondering that whether there is any solution in my case.

[2021-04-27 08:25] isolver commented on #231
You _must_ to use the version of PsychoPy included in the OpenHandWrite distribution. No other version of PsychoPy will work with OpenHandWrite.

[2021-05-17 10:27] syu-id opened #232 "Calculation of segment length (Detailed Segment Report)"
Hi,

I wonder why the calculation of segment length (`xy_disp`) in Detailed Segment Reports uses the slice `six+1:eix` instead of `six+1:eix+1`? It seems to me that the distance between the last two samples is not included. Please correct me if my understanding is wrong. Thank you very much!

https://github.com/isolver/OpenHandWrite/blob/dfa63f382418a7aa5ce8367bcc41d7916be8e271/distribution/MarkWr

[2021-05-17 10:46] Mark-Torrance commented on #232
I think that's right (but do tell me if I'm missing something).

`xy_disps` is achieved thus...

[code]
So for each sample, the displacement is the distance from the last sample. i.e. the straight-line distance between the location of the previous sample and the current sample. Within a segment, this value is available for all except the first sample.

[2021-05-17 11:04] syu-id commented on #232
Thank you very much, dear Mark!

I am a bit worried about Python's slices as they exclude the end. If we have four samples from `six=0` to `eix=3`, I guess we need something like `sum(xy_disps[1:4])` (see also the drawing below). I am sorry if I did not fully understand the calculating procedures in `DetailedSegmentReportExporter`. Thank you!

![image](https://user-images.githubusercontent.com/112

[2021-05-17 11:27] Mark-Torrance commented on #232
Oh, you are so right! Too much switching between R and Python (possibly, though that's a weak excuse). This is an issue throughout that report.

I don't have time to edit it at the moment, but you can edit your own version, of course. If you fancy posting the correct code here (just put the file in the issue) then I can ask Sol to include it in the next release.

Thanks so much for pointing this o

[2021-05-17 12:07] syu-id commented on #232
Thank you dear Mark! Python's slices are really confusing sometimes! I always have to google about it.

Actually, I was calculating the length using R and I noticed that there were always differences between my results and the Detailed Segment Report. In R, I calculate the length with Pen Sample Report like this (I hope the code is correct! I also added lpmm to the report):

[code]

[2021-05-17 12:56] Mark-Torrance commented on #232
Index is on the item, slice is between items :)

To be honest, the work we've done with MarkWrite for publiction has also been all based on sample reports and process in R. I prepared the detailed segment report quickly a long time ago, but didn't test it thoroughly (I think it says that in the script comments) and haven't used it.

If you are in the tidyverse (which you are) then `lead` and `lag`

[2021-05-17 13:52] syu-id commented on #232
Thank you for your great tips!
Didn't know that dplyr has the `lead` and `lag` pair. They are very convenient!

[2021-09-15 08:20] roehrigjan opened #233 "UnicodeDecodeError"
Hi,

everytime I run MarkWrite.bat in a folder path with non-ascii characters like ö, ä, ü (i.e. in the home directory of a windows user with ä, ö, ü in his name like me) MarkWrite won't start and I get the following error message:

  File "runapp.py", line 35, in <module>
    wmwin = MarkWriteMainWindow(markwrite.app)
  File "C:\Users\Jan R÷hrig\Downloads\OpenHandWrite\OpenHandWrite\WinPython\pyt

[2021-09-15 10:05] Mark-Torrance commented on #233
The permanent fix for this, as I understand it, would be to port MarkWrite to Python 3. I don't think it's worth making changes to the current version to accommodate non-ascii paths. As you say, the easiest fix for this is to avoid using non-ascii characters in directory and filenames.

[2021-10-12 09:27] isolver opened #234 "Status of Python 3.6+, PsychoPy 2021.2.x, support"
@Mark-Torrance asked if I could post the current state of Python 3.6+ support, including Python support for recent [PsychoPy](https://www.psychopy.org/) releases:

### **GetWrite**
[PsychoPy 2021.2.3](https://www.psychopy.org/download.html) includes a functioning version of the psychopy.iohub wintab device; consider it a _beta_ release of the device please. It only works on Windows 10 (probably Wi